<h2>Payment sent</h2>

<div class="centered-block">
    <mat-icon  class="success-icon">done</mat-icon>
</div>

<div *ngIf="sendService.transactionHex">
    Transaction was broadcasted:
    <p>ID: {{sendService.transactionId}}</p>
    <p>Hex: {{sendService.transactionHex}}</p>
</div>

<br><br>

<button class="full-width" mat-raised-button routerLink="/dashboard" color="primary">OK</button>

<!-- <br>

<button class="full-width" mat-raised-button routerLink="../success" color="primary">OK</button> -->

<!-- <mat-spinner class="loader"></mat-spinner> -->