<div class="page">
  <div class="centered">
    <mat-icon class="large-icon">vpn_lock</mat-icon>
    <br />
    <h1>{{ 'Settings.Permissions' | translate }}</h1>
    <p>{{ 'Settings.PermissionsDescription' | translate }}</p>
  </div>

  <div class="list-action-table" *ngFor="let permissionSet of permissions">
    <h2>{{ permissionSet.app }}</h2>

    <div *ngFor="let permission of toArray(permissionSet.permissions)">
      <div class="list-action-row" *ngFor="let perm of permission">
        <div>
          <strong>{{ perm.action }}</strong>
          <br />
          <span class="dimmed">{{ 'Settings.Type' | translate }}: {{ perm.type }} - {{ 'Settings.Created' | translate }}: {{ perm.created * 1000 | date }}</span><br />
          <div class="dimmed unwrap">{{ getWalletName(perm.walletId) }} / {{ getAccountName(perm.walletId, perm.accountId) }} / {{ perm.key }}</div>
        </div>
        <div>
          <button mat-icon-button (click)="remove(perm, permissionSet)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="permissions?.length > 0" class="signup-button" mat-flat-button color="primary" (click)="removeAllPermissions()">{{ 'Settings.RemoveAllPermissions' | translate }}</button>
</div>
