<div class="page">
  <div class="centered">
    <mat-icon class="large-icon">vpn_lock</mat-icon>
    <br />
    <h1>Permissions</h1>
    <p>Manage persisted permissions you have authorized web apps.</p>
  </div>

  <div class="list-action-table" *ngFor="let permissionSet of permissions">

    <h2>{{ permissionSet.app }}</h2>

    <div class="list-action-row" *ngFor="let permission of toArray(permissionSet.permissions)">
      <div>
        <strong>{{ permission.action }}</strong>
        <br />
        <span class="dimmed">{{ permission.type }} | Created: {{ permission.created }}</span>
      </div>
      <div>
        <button mat-icon-button (click)="remove(permission, permissionSet)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <button *ngIf="permissions?.length > 0" class="signup-button" mat-flat-button color="primary" (click)="removeAllPermissions()">Remove all permissions</button>

</div>
