<div class="page">
  <div class="centered">
    <mat-icon class="large-icon">vpn_lock</mat-icon>
    <br />
    <h1>Permissions</h1>
    <p>Manage persisted permissions you have authorized web apps.</p>
  </div>

  <div class="list-action-table">
    <div class="list-action-row" *ngFor="let permission of permissions">
      <div>
        <strong>{{ permission.domain }}</strong>
        <br />
        <span class="dimmed">{{ permission.condition }} | Created: {{ permission.created }}</span>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
