<div class="page">
  <h1>Exchange (buy/sell)</h1>

  <p>
    <button class="purchase-button" mat-raised-button (click)="buy('', 'STRAX')">Buy STRAX using Exolix</button>
  </p>

  <p>
    <button class="purchase-button" mat-raised-button (click)="sell('', 'STRAX')">Sell STRAX using Exolix</button>
  </p>

  <h2>Partners</h2>
  <p><a href="https://exolix.com?ref=BcG9dcJcQqLeXPf5" target="_blank">Exolix</a></p>

  <p class="mat-caption network-info">Using our links and affiliated partners, helps support the continued development of this wallet.</p>
</div>
