<div class="cardContainer">
  <mat-card *ngIf="tokenJson.name">
    <div>
      <mat-card-title class="maxWidth">{{tokenJson.name}}</mat-card-title>
      <mat-card-subtitle class="maxWidth">{{tokenJson.description}}</mat-card-subtitle>
    </div>
    <mat-card-content>
      <img class="resize" [src]="tokenJson.image"/>
      <p>
        <span *ngIf="nonFungibleToken.pricePaid">{{ "Collectables.PurchasePrice" | translate }}: {{nonFungibleToken.pricePaid | amount}}</span>
      </p>

      <p>
        <button mat-icon-button (click)="toggleAttributes()" *ngIf="tokenJson.attributes.length > 0">{{ "Collectables.Details" | translate }}
          <mat-icon *ngIf="!showAttributes">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="showAttributes">keyboard_arrow_up</mat-icon>
        </button>
      </p>
      <ng-container *ngIf="showAttributes">
        <mat-list *ngIf="tokenJson.attributes">
          <mat-list-item *ngFor="let attribute of tokenJson.attributes">
            <p>{{attribute.trait_type}}{{attribute.traitType}} : {{attribute.value}}</p>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
