
<mat-card *ngIf="tokenJson.name">
  <mat-card-title>{{tokenJson.name}}</mat-card-title>
  <mat-card-subtitle>{{tokenJson.description}}</mat-card-subtitle>
  <mat-card-content>
    <p>price: {{nonFungibleToken.PricePaid | amount}}</p>
    <div class="full-width">
      <img class="resize" [src]="tokenJson.image" />
    </div>

    <mat-list class="full-width" *ngIf="tokenJson.attributes">
      <mat-list-item *ngFor="let attribute of tokenJson.attributes" >
        <p>type: {{attribute.display_type}}</p><br/>
        <p>trait:{{attribute.trait_type}}</p><br/>
        <p>value: {{attribute.value}}</p><br/>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
