.resize {
  width: 225px;
  height: auto;
}

img {
  /*border: 2px solid #C0C0C0;*/
  padding: 5px;
}

fullWidth {
  width: 100%;
}

.cardContainer {
  margin: 20px;
  text-align: center;
}

.maxWidth {
  width: 100%;
}
