<div class="page centered">

  <mat-icon class="large-icon">delete</mat-icon>
  <br>
  <h1>Delete your wallet</h1>

  <p>
    This will remove the "{{appState.activeAccount.name}}" wallet. Make sure you have a backup of your secret recovery phrase or
    you
    might loose your wallet forever. Nobody can restore it except you.
  </p>

  <br>
  <button class="signup-button" mat-flat-button (click)="cancel()">Cancel</button>
  <br>
  <button class="signup-button" mat-flat-button color="primary" (click)="wipe()">Yes, wipe my wallet</button>
</div>