<div class="page centered">
    <h1>About {{env.instanceName}}</h1>

    <p><img class="logo" src="assets/icon-light-128x128.png"></p>

    <p>Version: {{env.version}}</p>
    <p>
        Non-Custodial HD wallet in your browser for Coins, Tokens, Identities, NFTs and more.
    </p>
    <p>
        This extension is a free and open source software.
    </p>
    <p>Made with ❤</p>
    <p><a [href]="env.instanceUrl" target="_blank">{{env.instanceUrl}}</a></p>

    <p>&nbsp;</p>

    <mat-card>
        <p><em>“Unlike the communities
                traditionally associated with the word "anarchy", in a crypto-anarchy the
                government is not temporarily destroyed but permanently forbidden and
                permanently unnecessary. It's a community where the threat of violence is
                impotent because violence is impossible, and violence is impossible
                because its participants cannot be linked to their true names or physical
                locations.” - Wei Dai 1998</em></p>
    </mat-card>

</div>