<div class="page centered" *ngIf="walletManager.activeAccount">

  <mat-icon class="large-icon">delete</mat-icon>
  <br>
  <h1>{{ "Account.RemoveAccountFromWallet" | translate}}</h1>

  <p>
    This will remove the "{{walletManager.activeAccount.name}}" account from your "{{walletManager.activeWallet?.name}}" wallet.
    All local changes that has not been persisted to cloud storage or blockchain, will be lost.
  </p>

  <br>
  <button class="signup-button" mat-flat-button (click)="cancel()">{{ "App.Cancel" | translate }}</button>
  <br>
  <button class="signup-button" mat-flat-button color="warn" (click)="wipe()">{{ "Account.RemoveConfirm" | translate }}</button>
</div>