<!-- <div class="page"
    *ngIf="walletManager.activeAccount && (walletManager.activeAccount.network == 400 || walletManager.activeAccount.network == 401)">

    <app-network-status-card class="balance-card" [status]="currentNetworkStatus"></app-network-status-card>

    <div *ngIf="walletManager.activeAccount.network == 400 || walletManager.activeAccount.network == 401">
        Cirrus is currently not supported. Check back later!
    </div>
</div> -->

<div class="page" *ngIf="walletManager.activeAccount">

    <app-network-status-card class="balance-card" [type]="networkType"></app-network-status-card>

    <!-- <mat-card class="network-status-card" *ngIf="currentNetworkStatus && currentNetworkStatus.availability > 1">
        <mat-card-subtitle>There are issues with the network</mat-card-subtitle>
        <mat-card-title>
            <app-network-status class="network-status-widget" [status]="currentNetworkStatus"></app-network-status>
            {{getNetworkStatusLabel(currentNetworkStatus.availability)}}
        </mat-card-title>
        <mat-card-content>
            {{currentNetworkStatus.status}}
        </mat-card-content>
    </mat-card> -->

    <mat-card>
        <!-- <mat-card-subtitle>{{uiState.activeAccount.name}}</mat-card-subtitle> -->
        <mat-card-subtitle>Balance <span *ngIf="accountHistory.unconfirmed">
                ({{accountHistory.unconfirmed || 0 | amount}} unconfirmed)
            </span></mat-card-subtitle>
        <mat-card-title>{{accountHistory.balance || 0 | amount}} {{walletManager.activeAccount |
            network}} <button class="rescan-button" matTooltip="Reload account history" mat-icon-button (click)="scan()">
                <mat-icon>history</mat-icon>
            </button>
        </mat-card-title>
        <!-- <mat-card-content>
            <p>
                Pending receive: <br>
                Pending sending: 
            </p>
        </mat-card-content> -->
        <mat-divider inset></mat-divider>
        <mat-card-actions class="full-action-buttons">
            <button class="half-width" mat-raised-button [routerLink]="['/', 'account', 'receive', walletManager.activeAccount.index]" color="primary">Receive</button>
            <button [disabled]="accountHistory.balance == 0" class="half-width" [routerLink]="['/', 'account', 'send']" mat-raised-button>Send</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="!accountState(walletManager.activeAccount).completedScan" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <mat-tab-group class="account-tabs">
        <mat-tab *ngIf="walletManager.activeAccount.mode !== 'normal'">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">calendar_today</mat-icon>
            </ng-template>
            <br>
            <p>
                Account type "{{walletManager.activeAccount.mode}}" does not support history.
            </p>

        </mat-tab>

        <mat-tab *ngIf="walletManager.activeAccount.mode === 'normal'">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">calendar_today</mat-icon>
            </ng-template>

            <mat-nav-list>
                <!-- <div mat-subheader>Recent Activity</div>
                <a mat-list-item *ngFor="let activity of activities" routerLinkActive="active-link"
                    [routerLink]="['/', 'account', 'view']">
                    <mat-icon mat-list-icon>{{activity.icon}}</mat-icon>
                    <div mat-line>{{activity.title}}</div>
                    <div mat-line> {{activity.address}} </div>
                </a> -->
                <div mat-subheader>Transactions ({{accountHistory.history.length}})</div>

                <div class="centered" *ngIf="accountHistory.history.length == 0">
                    Your wallet has zero transactions.<br><br>
                </div>

                <a mat-list-item *ngFor="let transaction of accountHistory.history" [routerLink]="['/', 'account', 'transaction', transaction.transactionHash]">
                    <div mat-line>
                        <span *ngIf="!transaction.unconfirmed" class="transaction-timpestamp">{{transaction.timestamp *
                            1000 | date:'mediumDate'}}</span>

                        <mat-icon class="transaction-history-icon" *ngIf="transaction.hasContract">gavel</mat-icon>
                        <mat-icon class="transaction-history-icon" *ngIf="transaction.entryType == 'mine'">shuffle
                        </mat-icon>

                        <span class="positive-color" [ngClass]="{unconfirmed: transaction.unconfirmed}" *ngIf="transaction.entryType == 'mine'">+{{transaction.calculatedValue |
                            amount}}</span>

                        <span class="positive-color" [ngClass]="{unconfirmed: transaction.unconfirmed}" *ngIf="transaction.entryType == 'receive'">+{{transaction.calculatedValue | amount}}</span>
                        <span class="negative-color" [ngClass]="{unconfirmed: transaction.unconfirmed}" *ngIf="transaction.entryType == 'send'">-{{transaction.calculatedValue | amount}}</span>
                        <span class="other-color" [ngClass]="{unconfirmed: transaction.unconfirmed}" *ngIf="transaction.entryType == 'consolidated'">{{transaction.entryType}}</span>
                        <!-- <span *ngIf="settings.values.developer"><br>Transacted total: {{transaction.value |
                            amount}}</span> -->
                    </div>
                    <div mat-line class="address" *ngIf="transaction.hasContract">Interaction with contract</div>
                    <div mat-line class="address" [innerHTML]="transaction.calculatedAddress.split(';').join('<br>')">
                    </div>
                    <!-- <div *ngIf="currentNetworkStatus" mat-line class="address">Confirmations:
                        {{currentNetworkStatus.blockSyncHeight - transaction.blockIndex}}
                    </div> -->
                    <!-- <div mat-line> {{transaction.confirmations}} confirmations</div> -->
                </a>
                <!-- <div mat-subheader>Transactions (old)</div>
                <a mat-list-item *ngFor="let transaction of transactions"
                    [routerLink]="['/', 'account', 'transaction', transaction.transactionHash]">
                    <div mat-line *ngIf="!transaction.description">
                        <span class="positive-color" [ngClass]="{unconfirmed: transaction.confirmations == 0}"
                            *ngIf="transaction.entryType == 'receive'">+{{transaction.calculatedValue | amount}}</span>
                        <span class="negative-color" [ngClass]="{unconfirmed: transaction.confirmations == 0}"
                            *ngIf="transaction.entryType == 'send'">-{{transaction.calculatedValue | amount}}</span>
                    </div>
                    <div mat-line class="other-color" *ngIf="transaction.description">
                        {{transaction.description}}
                    </div>
                    <div mat-line class="address" [innerHTML]="transaction.calculatedAddress">
                    </div>
                    <div *ngIf="currentNetworkStatus" mat-line class="address">Confirmations:
                        {{currentNetworkStatus.blockSyncHeight - transaction.blockIndex}}
                    </div>
                </a> -->
            </mat-nav-list>
        </mat-tab>

        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">description</mat-icon>
            </ng-template>

            <mat-nav-list>
                <div mat-subheader>Receive Addresses</div>
                <a mat-list-item *ngFor="let address of this.walletManager.activeAccount.state.receive"
                    routerLinkActive="active-link" [routerLink]="['/', 'account', 'address', address.index]">
                    <div mat-line>{{address.address}}</div>
                    <div mat-line>R:{{address.totalReceived | amount}} / S:{{address.totalSent | amount}} </div>
                </a>
                <mat-divider></mat-divider>
                <div mat-subheader>Change Addresses</div>
                <a mat-list-item *ngFor="let address of this.walletManager.activeAccount.state.change"
                    routerLinkActive="active-link" [routerLink]="['/', 'account', 'address', address.index]">
                    <div mat-line>{{address.address}}</div>
                    <div mat-line>R:{{address.totalReceived | amount}} / S:{{address.totalSent | amount}} </div>
                </a>
            </mat-nav-list>
        </mat-tab> -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">build_circle</mat-icon>
            </ng-template>

            <br>

            <mat-nav-list>
                <!-- <a mat-list-item (click)="scan()">
                    <mat-icon mat-list-icon>history</mat-icon>
                    <div mat-line>Resync All History</div>
                </a> -->
                <a mat-list-item (click)="toggleNetwork()">
                    <mat-icon mat-list-icon>public</mat-icon>
                    <div mat-line>Network Status</div>
                </a>
            </mat-nav-list>

            <mat-card *ngIf="networkStatus">
                <img class="mat-card-avatar network-status-image" [src]="networkStatus.icon" />
                <mat-card-title>{{networkStatus.name}} ({{networkStatus.symbol}})</mat-card-title>
                <mat-card-subtitle>{{networkStatus.description}}</mat-card-subtitle>
                <mat-card-content>
                    <p>Network: {{networkStatus.node.blockchain.chain}}</p>
                    <p>Height: {{networkStatus.blockHeight}}</p>
                    <p>Relay Fee: {{networkStatus.node.network.relayFee}}</p>
                    <p>Memory Pool: {{networkStatus.node.transactionsInPool}} transactions</p>
                    <p>Connections (on the indexer): {{networkStatus.node.network.connections}}</p>
                    <p><a [href]="networkStatus.url" target="_blank">{{networkStatus.url}}</a></p>
                </mat-card-content>
            </mat-card>

        </mat-tab>

        <mat-tab *ngIf="settings.values.developer">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">bug_report</mat-icon>
            </ng-template>

            <br>
            <p>Transactions:</p>

            <p>
                {{transactions | json}}
            </p>
        </mat-tab>

        <mat-tab *ngIf="settings.values.developer">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">bug_report</mat-icon>
            </ng-template>

            <br>
            <p>Wallets Persisted State:</p>

            <p>Contains your encrypted secret recovery phrase. Do NOT share this with anyone!</p>

            <!-- <p>
                {{uiState.persisted.wallets | json}}
            </p> -->
        </mat-tab>

    </mat-tab-group>

    <!-- {{this.uiState.activeAccount.state.receive | json}} -->

    <!-- First address (for verification):<br>
    <div *ngIf="address">
        {{address}}
    </div> -->

</div>

<div class="page centered" *ngIf="!walletManager.activeAccount">
    <h3>No active account selected.</h3>
</div>