<div class="content">
    <!-- <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1> -->

    <p>This software is provided with no warranty.</p>

    <p>CoinVault does not currently collect any information about you as a person. This can change in the future, with new features available. A change to the privacy policy, will be announced.</p>

    <p>Whenever you perform transactions, the transactions is store on a public chain of blocks (blockchain). You can never remove this information, they are locked in the chain.</p>

    <p>When you use the wallets in CoinVault, all your addresses will be sent to the CoinVault Server.</p>

    <h1>Privacy Policy</h1>
    CoinVault (Wallet/Website/Extension)
    This software is provided with no warranty.
    
    CoinVault does not currently collect any information about you as a person. This can change in the future, with new features available. A change to the privacy policy, will be announced.
    
    Whenever you perform transactions, the transactions is store on a public chain of blocks (blockchain). You can never remove this information, they are locked in the chain.
    
    When you use the wallets in CoinVault, all your addresses will be sent to the Blockcore Servers, your own private server or any community server of your choosing.
    
    Purchasing Cryptocurrency
    The wallet integrates with third party providers for purchasing cryptocurrency. This is an external service that is linked from CoinVault, and is not a service provided by CoinVault.
    
    The third party cryptocurrency providers writes, stores and reads web browser cookies. Please review individual terms and conditions, and privacy policy for each individual provider.
    
    Decentralized Identifiers
    When you use decentralized identifiers, you can choose to publish and make your identifiers and profiles attached to those identifiers, available to the public.
    
    Profiles are not stored on blockchain and can be withdrawn (unpublished) from public access at any time, given you do not loose access to your wallet.
    
    We advise to share as little information as possible in profiles attached to decentralized identifiers.
    
    Data Vaults
    Users can create and publish data vaults on public Decentralized Web Nodes. The creator of a data vault has the control to publish or unpublish content in a data vault. Sharing content from data vaults is done through access control managed by the creator of the data vault.
    
    The content publisher is responsible for the content uploaded and provided. Individual hosts of Decentralized Web Nodes can censor/filter and delete data vaults and individual items of content at their own will.
    
    Other software (not mentioned above)
    None of other CoinVault software tracks or logs person identifiable information. If you publish person identifiable information using our services, we cannot guarantee the ability to remove that information. We do not perform any activity tracking or logging.
    
    Changes to privacy policy
    We reserve the right to update and change our privacy policy at any time, and it is users responsibility to ensure knowledge and acceptance of the latest revisions.
    
    Last updated: 2022-08-29
    
     
    
    <h1>Terms and Conditions</h1>
    You accept that you won't attempt to exploit or abuse the server and infrastructure of CoinVault, Blockcore and Softchains LTD.
    
    You accept that certain content provided by CoinVault software and website, might have copyright attached.
    
    You accept that all human interactions should be voluntary.
    
    You accept that all usage of CoinVault/Blockcore server, infrastructure and software must be the result of peaceful voluntary human interactions.
    
    CoinVault is provided by free individuals and the registered entity of:
    
    SOFTCHAINS LTD
    Company number 10064770
    60 Formal House, St.Georges Place, Cheltenham, Gloucestershire, England, GL50 3PN
    
    Changes to terms and conditions
    We reserve the right to update and change our terms and condition at any time, and it is users responsibility to ensure knowledge and acceptance of the latest revisions.
    
    Last updated: 2022-08-29


</div>
