<div class="content selectable">
  <h1 id="policy">Privacy Policy</h1>

  <h3>Wallet/Website/Extension</h3>

  <p>This software is provided with no warranty.</p>

  <p>Wallet does not currently collect any information about you as a person. This can change in the future, with new features available. A change to the privacy policy, will be announced.</p>

  <p>Whenever you perform transactions, the transactions is stored on a public chain of blocks (blockchain). You can never remove this information, they are locked in the chain.</p>

  <p>When you use the Wallet, all your addresses will be sent to the Blockcore Servers, your own private server or any community server of your choosing.</p>

  <h3>Purchasing Cryptocurrency</h3>

  <p>The wallet integrates with third party providers for purchasing cryptocurrency. This is an external service that is linked from Wallet, provided by a third party.</p>

  <p>The third party cryptocurrency providers writes, stores and reads web browser cookies. Please review individual terms and conditions, and privacy policy for each individual provider.</p>

  <h3>Decentralized Identifiers</h3>

  <p>When you use decentralized identifiers, you can choose to publish and make your identifiers and profiles attached to those identifiers, available to the public.</p>

  <p>Profiles are not stored on blockchain and can be withdrawn (unpublished) from public access at any time, given you do not loose access to your wallet.</p>

  <p>We advise to share as little information as possible in profiles attached to decentralized identifiers.</p>

  <h3>Data Vaults</h3>

  <p>
    Users can create and publish data vaults on public Decentralized Web Nodes. The creator of a data vault has the control to publish or unpublish content in a data vault. Sharing content from data vaults is done through access control
    managed by the creator of the data vault.
  </p>

  <p>The content publisher is responsible for the content uploaded and provided. Individual hosts of Decentralized Web Nodes can censor/filter and delete data vaults and individual items of content at their own will.</p>

  <h3>Other software (not mentioned above)</h3>

  <p>
    None of other software tracks or logs person identifiable information. If you publish person identifiable information using our services, we cannot guarantee the ability to remove that information. We do not perform any activity
    tracking or logging.
  </p>

  <h3>Changes to privacy policy</h3>

  <p>We reserve the right to update and change our privacy policy at any time, and it is users responsibility to ensure knowledge and acceptance of the latest revisions.</p>

  <p>Last updated: 2022-09-12</p>

  <p>&nbsp;</p>

  <h1 id="terms">Terms and Conditions</h1>

  <p>You accept that you won't attempt to exploit or abuse the server and infrastructure used by the Wallet or the organizations of people and corporations involved with the Wallet.</p>

  <p>You accept that certain content provided by Wallet software and website, might have copyright attached.</p>

  <p>You accept that all human interactions should be voluntary.</p>

  <p>You accept that all usage of Wallet server, infrastructure and software must be the result of peaceful voluntary human interactions.</p>

  <p>Wallet is provided by free individuals and the registered entity of:</p>

  <p>
    SOFTCHAINS LTD<br />
    Company number 10064770<br />
    60 Formal House, St.Georges Place, Cheltenham, Gloucestershire, England, GL50 3PN
  </p>

  <h3>Changes to terms and conditions</h3>

  <p>We reserve the right to update and change our terms and condition at any time, and it is users responsibility to ensure knowledge and acceptance of the latest revisions.</p>

  <p>Last updated: 2022-09-12</p>

  <p>&nbsp;</p>

  <h1 id="license">License</h1>

  <p>MIT License</p>

  <p>Copyright (c) 2021-2022 Blockcore</p>
  
  <p>Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:</p>
  
  <p>The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.</p>
  
  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.</p>

</div>
