<div class="page">

    <h2>Identity (DID)</h2>

    Signing account: {{walletManager.activeAccount?.name}}<br>
    Derivation path: {{networkService.getDerivationPathForAccount(walletManager.activeAccount)}}<br><br>

    You attest with your select account to the following content:
    <br><br>
    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Signing content</mat-label>
        <textarea class="signing-content" matInput [ngModel]="content"></textarea>
    </mat-form-field>

    <button class="signup-button" mat-flat-button color="primary" (click)="sign()">Sign and close</button>&nbsp;
    <button class="signup-button" mat-flat-button (click)="exit()">Exit Action</button>
</div>