<div class="content">
    <p>
        This changelog will only show highlights, check the release information to view detailed
        change log.
    </p>
    <a mat-raised-button href="https://github.com/block-core/blockcore-extension/releases" target="_blank">Releases</a>

    <br><br>

    <h3 class="mat-h3">January, 2021 (v0.3.0)</h3>

    <ul>
        <li>Add support for wallet password change (<a href="https://github.com/block-core/blockcore-extension/issues/25" target="_blank">#25</a>).</li>
    </ul>

    <h3 class="mat-h3">January, 2021 (v0.2.0)</h3>

    <ul>
        <li>Add support for Stratis (STRAX) network.</li>
        <li>Add support for balance, receive and send (<a href="https://github.com/block-core/blockcore-extension/issues/39" target="_blank">#39</a>, <a href="https://github.com/block-core/blockcore-extension/issues/38" target="_blank">#38</a>, <a href="https://github.com/block-core/blockcore-extension/issues/41" target="_blank">#41</a>)</li>
    </ul>

    <h3 class="mat-h3">December, 2021 (v0.1.0)</h3>

    <ul>
        <li>Add support for multiple wallets.</li>
        <li>Add support for multiple accounts.</li>
    </ul>
</div>