// @import "~@angular/material/theming";
// @mixin sidenav-component-theme($config-or-theme) {
//   // retrieve variables from theme
//   // (all possible variables, use only what you really need)
//   $config: mat-get-color-config($config-or-theme);
//   $primary: map-get($config, primary);
//   $accent: map-get($config, accent);
//   $warn: map-get($config, warn);
//   $foreground: map-get($config, foreground);
//   $background: map-get($config, background);

//   .mat-drawer {
//     // let's take mat-toolbar's default theme
//     background-color: mat-color($background, app-bar);
//     color: mat-color($foreground, text);

//     // now, mat-toolbar's colored themes
//     $color-list: (
//       "primary": $primary,
//       "accent": $accent,
//       "warn": $warn,
//     );

//     @each $key, $val in $color-list {
//       &[color="#{$key}"] {
//         @include _mat-toolbar-color($val);
//         .mat-list-base {
//           .mat-list-item {
//             color: mat-color($val, default-contrast);
//           }
//         }
//       }
//     }
//   }
// }