<div class="page centered">
  <mat-icon class="large-icon">search</mat-icon>
  <br />
  <h1>Register Protocol Handler</h1>

  <mat-card class="handlers"> You can only register HTTP handlers from the full view. Click the expander icon at the bottom right, then open "Settings" and "Register Protocol Handler" again. </mat-card>

  <p class="handler-actions">
    You can register this extension as handler for different protocols. This action must be done in full window mode, it is not possible to do in extension popup view.
    <!-- TODO: Check if currently display in popup or not! -->
  </p>

  <p class="handler-actions">If you click X on the request or block the request, the request will never be displayed again until you manually unblock the extension.</p>
  <p class="handler-actions selectable">chrome://settings/content/handlers</p>
  <p class="handler-actions">
    Copy the link manually and open in a new tab.<br>
    <!-- TODO: Make this link work cross-browsers. -->
  </p>

  <!-- <br>
    <button class="signup-button" mat-flat-button (click)="cancel()">Cancel</button> -->

  <!-- <p class="handlers"></p> -->

  <p class="handler-actions">
    <button *ngIf="feature.enabledGroup('handler:pay')" class="signup-button" mat-flat-button color="primary" (click)="registerHandler('web+pay', 'pay')">Payment Request (PAY)</button>
  </p>

  <!-- <br>
    <button *ngIf="feature.enabledGroup('handler:sid')" class="signup-button" mat-flat-button color="primary"
        (click)="registerHandler('web+sid', 'sid')">Stratis Identity (SID)</button>
    <br>
    <button *ngIf="feature.enabledGroup('handler:did')" class="signup-button" mat-flat-button color="primary"
        (click)="registerHandler('did', 'did')">Decentralized Identity (DID)</button>
    <br>
    <button *ngIf="feature.enabledGroup('handler:nostr')" class="signup-button" mat-flat-button color="primary"
        (click)="registerHandler('web+nostrid', 'nostr')">Nostr Identity</button>
    <br>
    <button *ngIf="feature.enabledGroup('handler:vault')" class="signup-button" mat-flat-button color="primary"
        (click)="registerHandler('web+vault', 'vault')">Data
        Vault
        Handler</button>
    <br>
    <button *ngIf="feature.enabledGroup('handler:bitcoin')" class="signup-button" mat-flat-button color="primary"
        (click)="registerHandler('bitcoin', 'btc')">Bitcoin
        Handler</button> -->
</div>
