<div class="send-header">
  <div class="send-header-title"><h2>Sidechain Swap {{ sendService.network.symbol }}</h2></div>
  <div class="send-header-actions"><button class="half-width" [routerLink]="['/', 'account', 'send']" mat-raised-button>Mainchain Swap</button></div>
</div>

<form [formGroup]="form">

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Select a sidechain</mat-label>
    <mat-select (selectionChange)="onSidechainSelectChanged($event)" [(value)]="sendSidechainService.selectedSidechain">
      <mat-option *ngFor="let sidechain of sendService.network.sidechains" [value]="sidechain.symbol">{{sidechain.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="sendSidechainService.selectedSidechain != null">
    <h3>Federation Swap Address: {{sendService.address}}</h3>
  </div>

  <div class="input-actions">
    <button mat-icon-button (click)="scanQrCode()" matTooltip="Scan QR code">
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <button mat-icon-button (click)="paste()" matTooltip="Paste address from clipboard">
      <mat-icon>content_paste</mat-icon>
    </button>
  </div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{sendSidechainService.selectedSidechain}} Sidechain address</mat-label>
   <input matInput formControlName="sidechainAddressInput" [(ngModel)]="sendSidechainService.sidechainAddress" required />
     <mat-error *ngIf="form.controls['sidechainAddressInput'].errors?.['invalid']">Address is invalid format.</mat-error>
    <mat-error *ngIf="form.controls['sidechainAddressInput'].errors?.['required']">Address is required.</mat-error>
  </mat-form-field>

  <div class="available-balance" matTooltip="Click to fill out maximum (minus fee)" (click)="fillMax(sendService.accountHistory.balance)">Available: {{ sendService.accountHistory.balance || 0 | amount }}</div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amountInput" [(ngModel)]="sendService.amount" required />
    <mat-error *ngIf="form.controls['amountInput'].errors?.['min']">Amount cannot be negative.</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['required']">Amount is required and must be correctly entered.</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooManyDecimals']">The value of amount cannot have more than 8 decimals.</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighValue']">The value of amount must be below 100000000000.</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighAmount']">Insufficient funds available.</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Fee</mat-label>
    <input matInput formControlName="feeInput" [(ngModel)]="sendService.fee" required />
    <mat-error *ngIf="form.controls['feeInput'].invalid">Fee is required and must be correctly entered.</mat-error>
    <mat-hint *ngIf="sendService.feeError" align="start"
      ><strong>{{ sendService.feeError }}</strong>
    </mat-hint>
    <mat-hint align="end">Minimum fee rate: {{ sendService.feeRate }} sat/byte</mat-hint>
  </mat-form-field>

  <div *ngIf="optionsOpen">
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>Custom change address</mat-label>
      <input matInput formControlName="changeAddressInput" [(ngModel)]="sendService.changeAddress" />
    </mat-form-field>
  </div>

  <button class="full-width" (click)="toggleOptions()" mat-raised-button>Options...</button>
  <br /><br />
  <h3>Total: {{ sendService.total | amount }} {{ sendService.network.symbol }}</h3>
</form>

<button class="full-width" [disabled]="!form.valid" mat-raised-button routerLink="../confirm" color="primary">Continue</button>
