<div class="send-header">
  <div class="send-header-title"><h2>{{ "Account.Swap" | translate }} {{ sendService.network.symbol }}</h2></div>
  <div class="send-header-actions"><button class="half-width" [routerLink]="['/', 'account', 'send']" mat-raised-button>{{ "Account.Back" | translate }}...</button></div>
</div>

<form [formGroup]="form">

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{ "Account.SelectSidechain" | translate }}</mat-label>
    <mat-select (selectionChange)="onSidechainSelectChanged($event)" [(value)]="sendSidechainService.selectedSidechain">
      <mat-option *ngFor="let sidechain of sendService.network.sidechains" [value]="sidechain.symbol">{{sidechain.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="sendSidechainService.selectedSidechain != null">
    <h3>{{ "Account.FederationSwapAddress" | translate }}: {{sendService.address}}</h3>
  </div>

  <div class="input-actions">
    <button mat-icon-button (click)="scanQrCode()" matTooltip="Scan QR code">
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <button mat-icon-button (click)="paste()" matTooltip="Paste address from clipboard">
      <mat-icon>content_paste</mat-icon>
    </button>
  </div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{sendSidechainService.selectedSidechain}} {{ "Account.SidechainAddress" | translate }}</mat-label>
   <input matInput formControlName="sidechainAddressInput" [(ngModel)]="sendSidechainService.sidechainAddress" required />
     <mat-error *ngIf="form.controls['sidechainAddressInput'].errors?.['invalid']">{{ "Account.AddressInvalid" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['sidechainAddressInput'].errors?.['required']">{{ "Account.AddressRequired" | translate }}</mat-error>
  </mat-form-field>

  <mat-card>{{ "Account.SwapCardMessage" | translate }}</mat-card>

  <div class="available-balance" matTooltip="Click to fill out maximum (minus fee)" (click)="fillMax(sendService.accountHistory.balance)">{{ "Account.Available" | translate }}: {{ sendService.accountHistory.balance || 0 | amount }}</div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{ "Account.Amount" | translate }}</mat-label>
    <input matInput formControlName="amountInput" [(ngModel)]="sendService.amount" required />
    <mat-error *ngIf="form.controls['amountInput'].errors?.['min']">{{ "Account.SwapAmountMin" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['required']">{{ "Account.AmountRequired" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooManyDecimals']">{{ "Account.AmountTooManyDecimals" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighValue']">{{ "Account.AmountTooHighValue" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighAmount']">{{ "Account.AmountTooHighAmount" | translate }}</mat-error>
  </mat-form-field>

  <div class="confirmation-label" *ngIf="confirmationMessage">{{ confirmationMessage }}</div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{ "Account.Fee" | translate }}</mat-label>
    <input matInput formControlName="feeInput" [(ngModel)]="sendService.fee" required />
    <mat-error *ngIf="form.controls['feeInput'].invalid">{{ "Account.FeeInvalid" | translate }}</mat-error>
    <mat-hint *ngIf="sendService.feeError" align="start"
      ><strong>{{ sendService.feeError }}</strong>
    </mat-hint>
    <mat-hint align="end">{{ "Account.MinimumFeeRate" | translate }}: {{ sendService.feeRate }} {{ "Account.SatByte" | translate }}</mat-hint>
  </mat-form-field>

  <div *ngIf="optionsOpen">
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>{{ "Account.CustomChangeAddress" | translate }}</mat-label>
      <input matInput formControlName="changeAddressInput" [(ngModel)]="sendService.changeAddress" />
    </mat-form-field>
  </div>

  <button class="full-width" (click)="toggleOptions()" mat-raised-button>{{ "Account.Options" | translate }}...</button>
  <br /><br />
  <h3>{{ "Account.Total" | translate }}: {{ sendService.total | amount }} {{ sendService.network.symbol }}</h3>
</form>

<button class="full-width" [disabled]="!form.valid" mat-raised-button routerLink="../confirm" color="primary">{{ "Account.Continue" | translate }}</button>
