.available-balance {
  float: right;
  margin-top: 0.5em;
  cursor: pointer;
}

.input-actions {
  float: right;
  margin-top: 0.5em;
}
/*
.mat-dialog-container {
  padding: 0 !important;
} */

.send-header {
  display: flex;
}

.send-header-title {
  flex-grow: 2;
}

.send-header-actions {

}

.confirmation-label {
  padding: 1em;
  background-color: rgba(255, 166, 0, 0.429);
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
