<div class="page centered">

    <mat-form-field appearance="fill" *ngIf="uiState.hasWallets">
        <mat-label>Network</mat-label>
        <mat-select (selectionChange)="onNetworkChanged($event)" [(value)]="network">
            <mat-option value="302'/616'">Identity (302'/616')</mat-option>
            <mat-option value="44'/105105'">Stratis (STRAX) (44'/105105')</mat-option>
            <mat-option value="44'/1926'">City Chain (44'/1926')</mat-option>
            <mat-option value="44'/0'">Bitcoin (44', 1addresses)</mat-option>
            <mat-option value="49'/0'">Bitcoin (49' 3addresses)</mat-option>
            <mat-option value="84'/0'">Bitcoin (84' bc1addresses)</mat-option>
            <!-- <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}} -->
            <!-- </mat-option> -->
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" *ngIf="uiState.activeAccount">
        <mat-label>Icon</mat-label>
        <mat-select [(value)]="icon">
          <mat-option *ngFor="let icon of icons.icons" [value]="icon">
            <mat-icon>{{icon}}</mat-icon>
          </mat-option>
          <mat-select-trigger>
            <mat-icon>{{icon}}</mat-icon>
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>

    <br>

    <mat-form-field appearance="fill" *ngIf="uiState.hasWallets">
        <mat-label>Account Index</mat-label>
        <mat-select (selectionChange)="onAccountIndexChanged($event)" [(value)]="index">
            <mat-option *ngFor="let accountindex of indexes;" [value]="accountindex">{{accountindex}}</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Account Derivation Path</mat-label>
        <input matInput [(ngModel)]="derivationPath" required>
    </mat-form-field>

    <br>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>

    <!-- 
        <img class="logo" src="/assets/icon-light-128x128.png">

        <h1>Blockcore</h1>

        <p>A crypto wallet in your browser for coins, tokens, identities, NFTs and more.</p> -->

    <br>
    <button class="signup-button" mat-flat-button color="primary" (click)="create()">Create Account</button>
    <br>
    <!-- <button class="signup-button" mat-flat-button (click)="restore()">Use Existing Recovery Phrase</button> -->

</div>