<div class="page">
  <mat-card class="example-card">
    <mat-card-title>Transaction</mat-card-title>
    <mat-card-content>
      <p class="wrap">
        <span class="label">ID</span><br />{{ transaction.transactionHash }}
        <!-- <button class="copy-button" mat-icon-button (click)="copy()">
                <mat-icon>content_copy</mat-icon>
            </button> -->
      </p>

      <p *ngIf="!transaction.unconfirmed">
        <span class="label">Date</span><br />
        {{ transaction.details.timestamp * 1000 | date: "long" }}
      </p>

      <p *ngIf="!transaction.unconfirmed">
        <span class="label">Confirmations</span><br />
        <!-- {{currentNetworkStatus.blockSyncHeight - transaction.details.blockIndex + 1}} -->
        Confirmed
      </p>
      <p *ngIf="transaction.unconfirmed"><span class="label">Confirmations</span><br />Unconfirmed (mempool)</p>

      <p><span class="label">Fee</span><br />{{ transaction.details.fee | amount }}</p>

      <!-- <span *ngIf="transaction.hasContract"><a
                    [href]="'https://explorer.coinvault.net/CRS/explorer/transaction/' + transaction.transactionHash">View
                    Smart Contract invocation</a></span> -->

      <p *ngIf="transaction.details.data.length > 0">
        <span class="label">Data (OP_RETURN)</span><br />
        <span class="wrap selectable" *ngFor="let data of transaction.details.data">{{ parseOpreturn(data) }}</span>
      </p>

      <mat-card *ngIf="metadataEntry?.payment" [class.mat-elevation-z8]="true">
        <strong>Label: {{ metadataEntry.payment.label }}</strong
        ><br />
        Message: {{ metadataEntry.payment.message }}<br /><br />
        Payment ID: {{ metadataEntry.payment.id }}<br />
      </mat-card>

      <br />

      <form [formGroup]="form">
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Private Memo</mat-label>
          <input matInput formControlName="memoInput" />
        </mat-form-field>
        <button class="full-width" [disabled]="!form.dirty" mat-raised-button (click)="saveMemo()" color="warn">Save memo</button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button class="full-width" mat-raised-button color="primary" (click)="openExplorer(transaction.transactionHash)">Open Transaction in Block Explorer</button>

      <!-- <button *ngIf="transaction.hasContract" mat-raised-button color="primary" (click)="openExplorer(transaction.transactionHash)">Open in Block
                Explorer</button> -->
    </mat-card-actions>
  </mat-card>

  <br />

  <mat-card class="example-card">
    <mat-card-title>Block</mat-card-title>
    <mat-card-content>
      <p class="wrap" *ngIf="!transaction.unconfirmed">
        <span class="label">Block Hash</span><br />
        {{ transaction.details.blockHash }}
      </p>
      <p *ngIf="!transaction.unconfirmed">
        <span class="label">Block Height</span><br />
        {{ transaction.details.blockIndex }}
      </p>
      <p>
        <span class="label">Inputs</span> ({{ transaction.details.inputs.length }})<br />
        {{ transaction.details.inputsAmount | amount }}
      </p>
      <p>
        <span class="label">Outputs</span> ({{ transaction.details.outputs.length }})<br />
        {{ transaction.details.outputsAmount | amount }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="full-width" mat-raised-button color="primary" (click)="openExplorerBlock(transaction.details.blockHash)">Open Block in Block Explorer</button>
    </mat-card-actions>
  </mat-card>
</div>
