<div class="page">

    <mat-card class="example-card">
        <mat-card-title>Transaction</mat-card-title>
        <mat-card-content>
            <p class="wrap"><span class="label">ID:</span> {{transaction.transactionHash}}
                <!-- <button class="copy-button" mat-icon-button (click)="copy()">
                <mat-icon>content_copy</mat-icon>
            </button> -->
            </p>
            <p><span class="label">Confirmations:</span> {{currentNetworkStatus.blockSyncHeight - transaction.details.blockIndex}}</p>
            <p><span class="label">Fee:</span> {{transaction.details.fee | amount}}</p>
            <p *ngIf="transaction.details.data.length > 0">
                <span class="label">Data:</span><br>
                <span class="wrap" *ngFor="let data of transaction.details.data;">{{data}}</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openExplorer(transaction.transactionHash)">Open in Block
                Explorer</button>
        </mat-card-actions>
    </mat-card>

    <br>

    <mat-card class="example-card">
        <mat-card-title>Block</mat-card-title>
        <mat-card-content>
            <p class="wrap"><span class="label">Block Hash:</span> {{transaction.details.blockHash}}</p>
            <p><span class="label">Block Height:</span> {{transaction.details.blockIndex}}</p>
            <p><span class="label">Inputs</span> ({{transaction.details.inputs.length}}): {{transaction.details.inputsAmount | amount}}</p>
            <p><span class="label">Outputs</span> ({{transaction.details.outputs.length}}): {{transaction.details.outputsAmount | amount}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openExplorerBlock(transaction.details.blockHash)">Open in
                Block Explorer</button>
        </mat-card-actions>
    </mat-card>

</div>