<div class="page">
  <router-outlet></router-outlet>
  <div>
    <button class="action-button" mat-flat-button color="primary" (click)="action.authorize('once')">Authorize once</button>&nbsp; <button class="action-button" mat-flat-button (click)="action.authorize('expirable')">Authorize for 5 minutes</button>&nbsp; <button class="action-button" mat-flat-button (click)="action.authorize('forever')">Authorize forever</button>&nbsp;
    <button class="action-button" mat-flat-button (click)="action.authorize('no')">Cancel</button>
  </div>
</div>
