<div class="page">
  <div class="centered">
    <mat-icon class="large-icon">feedback</mat-icon>
    <br />
    <h1>{{ "Settings.Logs" | translate }}</h1>
    <p>{{ "Settings.LogsDescription" | translate }}</p>
  </div>

  <div class="log-output">
    <div *ngFor="let entry of logMonitor.entries"><span class="dimmed">{{ entry.timestamp }}:</span> {{ entry.message }}
      <div class="dimmed" *ngIf="entry.additional">{{ entry.additional | json }}</div>
    </div>
  </div>

  <br /><br />
  <div class="centered">
    <button (click)="reset()" [disabled]="updating" mat-flat-button color="primary">{{ "Settings.ToggleLevelOfLogging" | translate }}</button>
  </div>
</div>
