<div class="maximize" (click)="maximize()">
  <mat-icon matTooltipPosition="left" matTooltip="Expand the view">zoom_out_map</mat-icon>
</div>

<div *ngIf="uiState.loading">
  <router-outlet></router-outlet>
</div>

<!-- <mat-toolbar color="primary" class="app-header">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Config</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <span>Admin</span>
</mat-toolbar> -->

<mat-toolbar class="app-header" *ngIf="!uiState.loading">
  <button type="button" *ngIf="walletManager.hasWallets" aria-label="Toggle sidenav" mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>

  <button *ngIf="uiState.showBackButton" mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="top-spacer">{{uiState.title | truncate}}</span>

  <button *ngIf="walletManager.activeWalletUnlocked" mat-icon-button (click)="draweraccount.toggle()">
    <mat-icon *ngIf="walletManager.activeAccount">{{walletManager.activeAccount?.icon}}</mat-icon>
    <mat-icon *ngIf="!walletManager.activeAccount">account_circle</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="!uiState.loading">
  <mat-sidenav #drawer class="sidenav-left print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'">

    <mat-toolbar class="logo-icon">
      <img src="assets/icon-light-128x128.png">
      <div>{{uiState.manifest.name}}</div>
    </mat-toolbar>

    <mat-nav-list class="menu-options">

      <!-- <mat-form-field appearance="fill" *ngIf="walletManager.hasWallets">
        <mat-label>{{ 'App.ChooseWallet' | translate }}</mat-label>
        <mat-select (selectionChange)="onWalletChanged($event)" [value]="walletManager.activeWalletId">
          <mat-option [value]="''">{{ 'App.CreateNewWallet' | translate }}</mat-option>
          <mat-option *ngFor="let wallet of uiState.persisted.wallets;" [value]="wallet.id">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item *ngFor="let wallet of walletManager.getWallets();" [routerLink]="['/dashboard', wallet.id]"
        (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <div mat-line class="name-field">{{wallet.name | truncate}}</div>
      </a>

      <!-- <a mat-list-item *ngIf="walletManager.activeWallet && walletManager.activeWalletUnlocked"
        [routerLink]="['/dashboard']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <div mat-line>{{ 'App.ViewWallet' | translate }}</div>
      </a> -->

      <mat-divider></mat-divider>

      <a mat-list-item *ngIf="walletManager.activeWallet && !walletManager.activeWalletUnlocked"
        [routerLink]="['/home']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock_open</mat-icon>
        <div mat-line>{{ 'App.UnlockWallet' | translate }}</div>
      </a>

      <a mat-list-item *ngIf="walletManager.activeWallet && walletManager.activeWalletUnlocked"
        [routerLink]="['/wallet', 'edit']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>{{ 'App.EditWallet' | translate }}</div>
      </a>

      <mat-list-item *ngIf="walletManager.activeWallet && walletManager.activeWalletUnlocked" (click)="lock()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock</mat-icon>
        <div mat-line>{{ 'App.LockWallet' | translate }}</div>
      </mat-list-item>

      <a mat-list-item *ngIf="walletManager.activeWallet" [routerLink]="['/wallet', 'remove']" (click)="drawer.toggle()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>{{ 'App.RemoveWallet' | translate }}</div>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item [routerLink]="['/wallet', 'create']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div mat-line>{{ 'App.CreateWallet' | translate }}</div>
      </a>

      <a mat-list-item [routerLink]="['/settings']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div mat-line>{{ 'App.Settings' | translate }}</div>
      </a>

      <!-- <a mat-list-item [routerLink]="['/wipe']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete_forever</mat-icon>
        <div mat-line>Wipe Data</div>
      </a> -->

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #draweraccount class="sidenav-right print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'"
    position="end">

    <!-- <mat-toolbar class="logo-icon">
      <img src="assets/icon-light-128x128.png">
      <div>Blockcore</div>
    </mat-toolbar> -->

    <div class="account-details" *ngIf="walletManager.activeAccount">

      <button class="close-sidenav-icon" mat-icon-button (click)="draweraccount.toggle()">
        <mat-icon>close</mat-icon>
      </button>

      <h2 class="name-field">{{walletManager.activeAccount.name | truncate}}</h2>

      <div class="detail-box">
        <mat-icon mat-list-icon class="account-icon">{{walletManager.activeAccount.icon}}</mat-icon>
        <div class="detail-network">
          {{walletManager.activeAccount | network}}<br>
          Index: {{walletManager.activeAccount?.index}}
        </div>
      </div>

      <button mat-button [routerLink]="['account', 'edit', walletManager.activeAccountId]"
        (click)="draweraccount.toggle()">{{ 'App.EditAccount' | translate}}</button>

    </div>

    <mat-divider></mat-divider>

    <mat-menu #accounts="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false">
      <button mat-menu-item>Wallet 1</button>
      <button mat-menu-item>Wallet 2</button>
    </mat-menu>

    <mat-nav-list class="menu-options" *ngIf="walletManager.activeWallet && walletManager.activeWalletUnlocked">

      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose Wallet</mat-label>
        <mat-select (selectionChange)="onAccountChanged($event)" [(value)]="appState.persisted.activeWalletIndex">
          <mat-option [value]="-1">Create new wallet</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item *ngFor="let account of walletManager.activeWallet.accounts; let i = index"
        (click)="onAccountChanged(account.identifier)" routerLinkActive="active-link">
        <mat-icon mat-list-icon>{{account.icon}}</mat-icon>
        <div mat-line class="name-field">{{account.name | truncate}}</div>
        <div mat-line>{{account | network}}</div>
      </a>

      <!-- <a mat-list-item *ngIf="appState.activeWallet && appState.unlocked" [routerLink]="['/wallet/edit']"
        (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>Edit Wallet</div>
      </a>

      <mat-list-item *ngIf="appState.activeWallet && appState.unlocked" (click)="lock()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock</mat-icon>
        <div mat-line>Lock Wallet</div>
      </mat-list-item>

      <a mat-list-item *ngIf="appState.activeWallet" [routerLink]="['/wallet/remove']" (click)="drawer.toggle()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>Remove Wallet</div>
      </a> -->

      <mat-divider></mat-divider>

      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose account</mat-label>
        <mat-select>
          <mat-option [value]="-1">Account 0</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item *ngIf="walletManager.activeWallet && walletManager.unlocked" [routerLink]="['/account/create']"
        (click)="draweraccount.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div mat-line>{{ 'App.AddAccount' | translate }}</div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- <mat-sidenav-content>
    Don't use this, see reason: https://newbedev.com/angular-material-sidenav-cdkscrollable
  -->

  <!-- <div> -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <!-- </div> -->
</mat-sidenav-container>