.header-logo {
  height: 60px;
}

.top-spacer {
  flex: 1 1 auto;
  margin-left: 0.4em;
}

.logo-icon {
  justify-content: center;
  cursor: pointer;
}

.logo-icon img {
  height: 60%;
}

.logo-icon div {
  font-size: 0.8em;
  margin-left: 0.8em;
}

.selectedWallet {
  color: rgb(207, 207, 207) !important;
  background-color: gray;
}

.menu-mode-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}


@keyframes animatedBlur {
  from {
    backdrop-filter: blur(6px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes animatedBackground {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.account-details {
  padding: 1em;
}

.detail-box {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.account-icon {
  font-size: 4em !important;
  width: 64px;
  height: 64px;
}

.detail-network {
  line-height: 1.8em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.name-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-sidenav-icon {
  float: right;
  margin-right: -0.5em;
  margin-top: -0.5em;
}
