<div class="page centered">
    <h2>Send {{network.symbol}}</h2>

    <mat-nav-list>
        <div mat-subheader>Unspent Transactions</div>
        <a mat-list-item *ngFor="let transaction of unspent">
            <div mat-line>{{transaction.scriptHex}}</div>
            <div mat-line>{{transaction.value | amount}}</div>
            <div mat-line>{{transaction.address}}</div>
        </a>
    </mat-nav-list>

    <img [src]="qrCode" class="qr-code" />

    <mat-card class="address" [class.mat-elevation-z8]="true">{{address}}
        <button class="copy-button" mat-icon-button (click)="copy()">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-card>

    <p class="mat-caption network-info">
        This address can only be used to receive {{network.symbol}} on the {{network.name}} network.
    </p>
</div>