<h2>Send {{sendService.network.symbol}}</h2>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="sendService.address" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="sendService.amount" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Fee</mat-label>
    <input matInput [(ngModel)]="sendService.fee" required>
</mat-form-field>

<button class="full-width" mat-raised-button routerLink="../confirm" color="primary">Continue</button>