<h2>Signing Message</h2>

<!-- <p>IMPORTANT: Verify all details below before you accept the permission request.</p> -->

<p>
  <!-- Account: <strong>{{ walletManager.activeAccount?.name }}</strong
  ><br /> -->

  

  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label>Account</mat-label>

    <mat-select (selectionChange)="onAccountChanged()" [(value)]="selectedAccountId">
      <mat-option *ngFor="let account of accounts" [value]="account.identifier">{{ account.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label>Key</mat-label>

    <mat-select (selectionChange)="onKeyChanged()" [(value)]="selectedKeyId">
      <mat-option *ngFor="let address of addresses" [value]="address.keyId">{{ address.address }} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card>
    <mat-card-header>
      <mat-icon class="card-icon" mat-card-avatar>verified_user</mat-icon>
      <mat-card-title>Permission Request</mat-card-title>
      <mat-card-subtitle class="no-bottom-margin"><strong>"Sign data using your private key"</strong></mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  

  <br />

  <!-- Domain: <strong>{{ action.app }}</strong> -->
</p>

<!-- Derivation path: {{networkService.getDerivationPathForAccount(walletManager.activeAccount)}}<br><br> -->

You attest with your selected account to the following content:
<br /><br />
<mat-form-field class="input-full-width" appearance="outline">
  <mat-label>Signing content</mat-label>
  <textarea class="signing-content" readonly="readonly" matInput [ngModel]="contentToSign"></textarea>
</mat-form-field>

<!-- <button class="signup-button" mat-flat-button color="primary" (click)="sign()">Sign and close</button>&nbsp;
    <button class="signup-button" mat-flat-button (click)="exit()">Exit Action</button> -->
