<h2>Confirm Payment</h2>

<div class="grid-row-label-value">
    <div><span>To</span><span>{{sendService.address}}</span></div>
    <div><span>From</span><span>{{sendService.account.name}}</span></div>
    <div *ngIf="sendService.changeAddress"><span>Change (override)</span><span>{{sendService.changeAddress}}</span></div>
    <div><span>Amount</span><span>{{sendService.amountAsSatoshi | amount}} {{sendService.network.symbol}}</span></div>
    
    <!-- <div><span>Fee</span><span>{{sendService.fee}} ({{sendService.feeAsSatoshi}}) {{sendService.network.symbol}}</span></div> -->
    <div *ngIf="transaction"><span>Fee</span><span>{{transaction.fee | amount}} {{sendService.network.symbol}}</span></div>
    <div *ngIf="transaction"><span>FeeRate</span><span>{{transaction.feeRate}} sat/byte</span></div>
    
    <!-- <div *ngIf="transaction"><span>virtualSize</span><span>{{transaction.virtualSize}}</span></div>
    <div *ngIf="transaction"><span>weight</span><span>{{transaction.weight}}</span></div> -->

    <div><span>Total</span><span class="total">{{sendService.total | amount}} {{sendService.network.symbol}}</span></div>

    <div *ngIf="error" class="icon-warn"><h2>ERROR</h2><span>{{error}}</span></div>
</div>

<!-- <p>Sending to:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.address}}</mat-card>

<br><br>
<p>Sending from:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.account.name}}</mat-card>

<br><br>
<p>Amount:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.amount}}</mat-card>

<br><br>
<p>Fee:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.fee}}</mat-card>

<br><br>
<p>Total:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.total}}</mat-card> -->

<!-- 

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="sendService.address" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="sendService.amount" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Fee</mat-label>
    <input matInput [(ngModel)]="sendService.fee" required>
</mat-form-field> -->
<br>

<button class="full-width" [disabled]="!transaction" mat-raised-button routerLink="../sending" color="primary">Send</button>

<div *ngIf="transaction" class="wrap"><br>HEX: {{transaction.transactionHex}}</div>

<!-- <button class="full-width" mat-raised-button (click)="sendService.send()" color="primary">Send</button> -->