<h2>{{ "Account.ConfirmPayment" | translate }}</h2>

<div class="grid-row-label-value">
  <div>
    <span>{{ "Account.To" | translate }}</span
    ><span class="selectable">{{ sendService.address }}</span>
  </div>
  <div>
    <span>{{ "Account.From" | translate }}</span
    ><span>{{ sendService.account.name }}</span>
  </div>
  <div *ngIf="sendService.changeAddress">
    <span>{{ "Account.Change" | translate }}</span
    ><span>{{ sendService.changeAddress }}</span>
  </div>
  <div>
    <span>{{ "Account.Amount" | translate }}</span
    ><span>{{ sendService.actualAmountAsSatoshi | amount }} {{ sendService.network.symbol }}</span>
  </div>

  <!-- <div><span>Fee</span><span>{{sendService.fee}} ({{sendService.feeAsSatoshi}}) {{sendService.network.symbol}}</span></div> -->
  <div *ngIf="transaction">
    <span>{{ "Account.Fee" | translate }}</span
    ><span>{{ transaction.fee | amount }} {{ sendService.network.symbol }}</span>
  </div>

  <div *ngIf="transaction">
    <span>{{ "Account.FeeRate" | translate }}</span
    ><span>~{{ transaction.feeRate }} {{ "Account.SatByte" | translate }}</span>
  </div>

  <!-- <div *ngIf="transaction"><span>virtualSize</span><span>{{transaction.virtualSize}}</span></div>
    <div *ngIf="transaction"><span>weight</span><span>{{transaction.weight}}</span></div> -->

  <div *ngIf="detailsOpen" class="grid-row-label-value">
    <div *ngIf="transaction">
      <span>{{ "Account.ChangeAmount" | translate }}</span
      ><span>{{ transaction.changeAmount | amount }} {{ sendService.network.symbol }}</span>
    </div>
    <div *ngIf="transaction">
      <span>{{ "Account.ChangeAddress" | translate }}</span
      ><span class="selectable">{{ transaction.changeAddress }}</span>
    </div>

    <div *ngIf="transaction">
      <span>{{ "Account.VirtualSize" | translate }}</span
      ><span>{{ transaction.virtualSize }} bytes</span>
    </div>
    <div *ngIf="transaction">
      <span>{{ "Account.Weight" | translate }}</span
      ><span>{{ transaction.weight }} bytes</span>
    </div>

    <div *ngIf="transaction?.data">
      <span>{{ "Account.DataOPRETURN" | translate }}</span>
      <span class="selectable">
        {{ transaction.data }}<br />
        {{ "Account.Size" | translate }}: {{ dataSize(transaction.data) }}, {{ "Account.Max" | translate }}: 80<br />
        <!-- {{ dataFormat(transaction.data, 'binary') }} (Binary)<br>
            {{ dataFormat(transaction.data, 'hex') }} (Hex)<br> -->
      </span>
    </div>

    <div *ngIf="transaction">
      <span>Inputs</span><span> {{ transaction.transaction.txInputs.length }} UTXOs</span>
    </div>

    <div *ngIf="transaction">
      <span>Outputs</span
      ><span>
        {{ transaction.transaction.txOutputs.length }} UTXOs<br /><br />

        <div *ngFor="let output of transaction.transaction.txOutputs">{{ output.value | amount }} {{ sendService.network.symbol }} to address: {{ output.address }}</div></span
      >
    </div>

    <!-- <mat-form-field class="input-full-width" appearance="outline">
            <mat-label>Custom change address</mat-label>
            <input matInput formControlName="changeAddressInput" [(ngModel)]="sendService.changeAddress">
        </mat-form-field> -->
  </div>

  <button class="full-width" (click)="toggleDetails()" mat-raised-button>{{ "Account.Details" | translate }}</button>

  <div>
    <span>{{ "Account.Total" | translate }}</span
    ><span class="total" *ngIf="sendService.total">{{ sendService.total | amount }} {{ sendService.network.symbol }}</span>
  </div>

  <div *ngIf="error" class="icon-warn">
    <h2>{{ "Account.Error" | translate }}</h2>
    <span>{{ error }}</span>
  </div>
</div>

<!-- <p>Sending to:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.address}}</mat-card>

<br><br>
<p>Sending from:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.account.name}}</mat-card>

<br><br>
<p>Amount:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.amount}}</mat-card>

<br><br>
<p>Fee:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.fee}}</mat-card>

<br><br>
<p>Total:</p>
<mat-card class="address" [class.mat-elevation-z8]="true">{{sendService.total}}</mat-card> -->

<!--

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="sendService.address" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="sendService.amount" required>
</mat-form-field>

<mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Fee</mat-label>
    <input matInput [(ngModel)]="sendService.fee" required>
</mat-form-field> -->
<br />

<button class="full-width" [disabled]="!valid" mat-raised-button routerLink="../sending" color="primary">{{ "Account.Send" | translate }}</button>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<!-- <div *ngIf="transaction" class="wrap"><br>HEX: {{transaction.transactionHex}}</div> -->

<!-- <button class="full-width" mat-raised-button (click)="sendService.send()" color="primary">Send</button> -->
