<div *ngIf="uiState.loading">
  <router-outlet></router-outlet>
</div>

<mat-sidenav-container class="sidenav-container" *ngIf="!uiState.loading">
  <mat-sidenav #drawer class="sidenav print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'">

    <mat-toolbar class="logo-icon">
      <img src="icons/blockcore-light-128x128.png">
      <div>Blockcore</div>
    </mat-toolbar>

    <mat-menu #accounts="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false">
      <button mat-menu-item>Wallet 1</button>
      <button mat-menu-item>Wallet 2</button>
    </mat-menu>

    <mat-nav-list class="menu-options">

      <mat-form-field appearance="fill" *ngIf="uiState.hasWallets">
        <mat-label>Choose Wallet</mat-label>
        <mat-select (selectionChange)="onAccountChanged($event)" [(value)]="uiState.persisted.activeWalletId">
          <mat-option [value]="''">Create new wallet</mat-option>
          <mat-option *ngFor="let wallet of uiState.persisted.wallets.values();" [value]="wallet.id">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <a mat-list-item *ngIf="uiState.activeWallet && !uiState.activeWalletUnlocked" [routerLink]="['/home']"
      (click)="drawer.toggle()" routerLinkActive="active-link">
      <mat-icon mat-list-icon>lock</mat-icon>
      <div mat-line>Unlock Wallet</div>
    </a>

      <a mat-list-item *ngIf="uiState.activeWallet && uiState.activeWalletUnlocked" [routerLink]="['/wallet', 'edit']"
        (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>Edit Wallet</div>
      </a>

      <mat-list-item *ngIf="uiState.activeWallet && uiState.activeWalletUnlocked" (click)="lock()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock</mat-icon>
        <div mat-line>Lock Wallet</div>
      </mat-list-item>

      <a mat-list-item *ngIf="uiState.activeWallet" [routerLink]="['/wallet', 'remove']" (click)="drawer.toggle()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>Remove Wallet</div>
      </a>

      <mat-divider></mat-divider>

      <br>
<!-- 
      <mat-form-field appearance="fill">
        <mat-label>Auto-Lock Timer</mat-label>
        <mat-select [(value)]="autoTimeout">
          <mat-option [value]="0">Zero</mat-option>
          <mat-option [value]="5">5 minutes</mat-option>
          <mat-option [value]="10">10 minutes</mat-option>
          <mat-option [value]="15">15 minutes</mat-option>
          <mat-option [value]="30">30 minutes</mat-option>
          <mat-option [value]="60">60 minutes</mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item  [routerLink]="['/settings']" (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div mat-line>Settings</div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #draweraccount class="sidenav print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'"
    position="end">

    <!-- <mat-toolbar class="logo-icon">
      <img src="icons/blockcore-light-128x128.png">
      <div>Blockcore</div>
    </mat-toolbar> -->

    <div class="account-details" *ngIf="uiState.activeAccount">
      <h2>{{uiState.activeAccount.name}}</h2>

      <div class="detail-box">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div class="detail-network">
          {{uiState.activeAccount.network}}<br>
          {{uiState.activeAccount.derivationPath}}
        </div>
      </div>

      <button mat-button [routerLink]="['account', 'edit', uiState.activeWallet?.activeAccountIndex]" (click)="draweraccount.toggle()">Edit account</button>

    </div>

    <mat-divider></mat-divider>

    <mat-menu #accounts="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false">
      <button mat-menu-item>Wallet 1</button>
      <button mat-menu-item>Wallet 2</button>
    </mat-menu>

    <mat-nav-list class="menu-options" *ngIf="uiState.activeWallet && uiState.activeWalletUnlocked">

      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose Wallet</mat-label>
        <mat-select (selectionChange)="onAccountChanged($event)" [(value)]="appState.persisted.activeWalletIndex">
          <mat-option [value]="-1">Create new wallet</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item *ngFor="let account of uiState.activeWallet.accounts; let i = index" [routerLink]="['account', 'view', i]" (click)="draweraccount.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{account.name}}</div>
        <div mat-line>{{account.network}}</div>
      </a>

      <!-- <a mat-list-item *ngIf="appState.activeWallet && appState.unlocked" [routerLink]="['/wallet/edit']"
        (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>Edit Wallet</div>
      </a>

      <mat-list-item *ngIf="appState.activeWallet && appState.unlocked" (click)="lock()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock</mat-icon>
        <div mat-line>Lock Wallet</div>
      </mat-list-item>

      <a mat-list-item *ngIf="appState.activeWallet" [routerLink]="['/wallet/remove']" (click)="drawer.toggle()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>Remove Wallet</div>
      </a> -->

      <mat-divider></mat-divider>

      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose account</mat-label>
        <mat-select>
          <mat-option [value]="-1">Account 0</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item *ngIf="uiState.activeWallet && uiState.unlocked" [routerLink]="['/account/create']"
        (click)="draweraccount.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div mat-line>Add Account</div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="print-hidden">
      <button type="button" *ngIf="uiState.hasWallets" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>

      <span class="example-spacer">{{uiState.title}}</span>

      <button *ngIf="uiState.activeWalletUnlocked" mat-icon-button (click)="draweraccount.toggle()">
        <mat-icon>account_circle</mat-icon>
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>