.header-logo {
    height: 60px;
}

.example-spacer {
    flex: 1 1 auto;
    margin-left: 0.8em;
 }

 
.logo-icon {
    justify-content: center;
    cursor: pointer;
 }
 
 .logo-icon img {
    height: 60%;
 }
 
 .logo-icon div {
    font-size: 0.8em;
    margin-left: 0.8em;
 }
 