<div>
  <mat-tab-group>
    <mat-tab label="Sign Message">
      <div class="sign-content">
        <form class="sign-form" [formGroup]="signFormGroup">
          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Account</mat-label>
            <mat-select formControlName="accountCtrl" required (selectionChange)="onAccountChanged()">
              <mat-option *ngFor="let account of accounts" [value]="account.identifier">
                {{ account.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>{{ "Action.Key" | translate }}</mat-label>

            <mat-select formControlName="addressCtrl">
              <mat-option *ngFor="let address of addresses" [value]="address.key">{{ address.address }} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Message to sign</mat-label>
            <textarea matInput formControlName="messageCtrl"></textarea>
          </mat-form-field>
          <br />
          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Signature</mat-label>
            <input matInput formControlName="signatureCtrl" />
          </mat-form-field>
          <br />
          <br /><button mat-flat-button color="primary" (click)="sign()">Sign</button>
          <button mat-stroked-button color="primary" class="sign-clear">Clear All</button>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Verify Message">
      <div class="sign-content">
        <form class="sign-form" [formGroup]="verifyFormGroup" >
          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="addressCtrl" />
          </mat-form-field>
          <br />
          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="messageCtrl"></textarea>
          </mat-form-field>
          <br />
          <mat-form-field class="sign-full-width" appearance="fill">
            <mat-label>Signature</mat-label>
            <input matInput formControlName="signatureCtrl" />
          </mat-form-field>
          {{verified}}
          <br /><button mat-flat-button color="primary" (click)="verify()">Verify</button>
          <button mat-stroked-button color="primary" class="sign-clear">Clear All</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
