<div class="page centered">

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Account name</mat-label>
    <input matInput [(ngModel)]="accountName" required>
  </mat-form-field>

  <br>
  Purpose: {{appState.activeAccount?.purpose}}<br>
  Network: {{appState.activeAccount?.network}}<br>
  Index: {{appState.activeAccount?.index}}<br>

  <br>
  <button class="signup-button" mat-flat-button color="primary" (click)="save()">Save</button>
  <br>
  <button class="signup-button" mat-flat-button (click)="cancel()">Cancel</button>
  <br>
  <br>
  <button class="signup-button" mat-flat-button color="warn" [routerLink]="['/account', 'remove', appState.persisted.activeAccountIndex]">Remove</button>

</div>