<div *ngIf="!sendService.transactionError">
  <h2>Payment sent</h2>

  <div class="centered-block">
    <mat-icon class="success-icon">done</mat-icon>
  </div>

  <div *ngIf="sendService.transactionHex" class="wrap selectable">
    <br /><br />
    ID:<br />
    {{ sendService.transactionId }}
  </div>

  <br /><br />

  <button class="full-width" mat-raised-button [routerLink]="['/account', 'view', sendService.account.identifier]" color="primary">OK</button>
</div>

<div *ngIf="sendService.transactionError">
  <h2>Payment error!</h2>

  <div class="centered-block">
    <mat-icon class="success-icon">error</mat-icon>
  </div>

  <div *ngIf="sendService.transactionHex" class="wrap selectable">
    <br /><br />
    Error:<br />
    {{ sendService.transactionError }}
  </div>

  <br /><br />

  <button class="full-width" mat-raised-button [routerLink]="['/account', 'view', sendService.account.identifier]" color="primary">OK</button>
</div>
