<div class="page">
    <h1>Select accounts</h1>
    <h3>Choose which accounts to add to your wallet</h3>

    <mat-selection-list #accounts>
        <div mat-subheader>Coins/Tokens</div>
        <mat-list-option *ngFor="let account of coins" [(selected)]="account.selected">
            <mat-icon mat-list-icon>{{account.icon}}</mat-icon>
            <div mat-line>{{account.name}} ({{account | network}})</div>
            <!-- <div mat-line> {{account.symbol}} / {{account.network}} </div> -->
        </mat-list-option>
        <mat-divider *ngIf="other.length > 0"></mat-divider>
        <div mat-subheader *ngIf="other.length > 0">Other</div>
        <mat-list-option *ngFor="let account of other" [(selected)]="account.selected">
            <mat-icon mat-list-icon>{{account.icon}}</mat-icon>
            <div mat-line>{{account.name}} ({{account | network}})</div>
            <!-- <div mat-line> {{account.purpose}} / {{account.network}} </div> -->
        </mat-list-option>
    </mat-selection-list>

    <br>

    <button class="wide-button" [disabled]="creating" mat-flat-button
        color="primary" (click)="create()">Get started</button>

</div>