<mat-tab-group class="tabs" mat-stretch-tabs *ngIf="uiState.activeWallet && uiState.activeWalletUnlocked">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">manage_accounts</mat-icon>&nbsp;
            <span>{{ 'Dashboard.Accounts' | translate }}</span>
        </ng-template>

        <div>
            <mat-nav-list>
                <div mat-subheader>{{ 'Dashboard.Accounts' | translate }}</div>

                <a mat-list-item *ngFor="let account of uiState.activeWallet.accounts; let i = index"
                    routerLinkActive="active-link" [routerLink]="['/', 'account', 'view', i]">
                    <mat-icon mat-list-icon>{{account.icon}}</mat-icon>
                    <div mat-line>{{account.name}}<span class="account-balance">{{account.state.balance |
                            amount}}</span></div>
                    <div mat-line>{{account | network}}</div>
                    <div class="network-status-widget">
                        <app-network-status [status]="getNetworkStatus(account.networkType)"></app-network-status>
                    </div>
                </a>

                <!-- TODO: Hidden until fully implemented -->
                <!-- <mat-divider></mat-divider>
                <div mat-subheader>Activity</div>

                <mat-list-item *ngIf="history.length == 0">No activity yet</mat-list-item>

                <a mat-list-item *ngFor="let item of history" routerLinkActive="active-link">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <div mat-line>{{item.name}}</div>
                    <div mat-line> {{item.updated | date}} </div>
                </a> -->

                <mat-divider></mat-divider>
                <div mat-subheader>{{ 'Dashboard.Actions' | translate }}</div>

                <a mat-list-item *ngIf="uiState.activeWallet && uiState.unlocked" [routerLink]="['/account/create']"
                    routerLinkActive="active-link">
                    <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                    <div mat-line>Add Account</div>
                </a>

                <a mat-list-item *ngIf="uiState.activeWallet && uiState.unlocked" [routerLink]="['/wallet/create']"
                    routerLinkActive="active-link">
                    <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
                    <div mat-line>Add Wallet</div>
                </a>

                <mat-divider></mat-divider>
                <div mat-subheader>Tools</div>

                <a mat-list-item (click)="copyErrorLogs()">
                    <mat-icon mat-list-icon>report_problem</mat-icon>
                    <div mat-line>Copy Error Logs</div>
                </a>

                <a mat-list-item (click)="copyDebugLogs()">
                    <mat-icon mat-list-icon>bug_report</mat-icon>
                    <div mat-line>Copy Debug Logs</div>
                </a>

            </mat-nav-list>
        </div>

    </mat-tab>

    <mat-tab *ngIf="feature.enabled('vault')">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">folder_shared</mat-icon>
            &nbsp;
            <span>{{ 'Dashboard.Vaults' | translate }}</span>
        </ng-template>

        <div>
            <mat-nav-list>

                <div mat-subheader>{{ 'Dashboard.Vaults' | translate }}</div>

                <mat-list-item>
                    <mat-icon mat-list-icon>folder_shared</mat-icon>
                    <div mat-line>bf83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                    <div mat-line class="dimmed">Public</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>folder_shared</mat-icon>
                    <div mat-line>af83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                    <div mat-line class="dimmed">Encrypted</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder_shared</mat-icon>
                    <div mat-line>cf83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                    <div mat-line class="dimmed">Shared</div>
                </mat-list-item>

                <mat-divider></mat-divider>
                <div mat-subheader>Activity</div>

                <mat-list-item *ngIf="history.length == 0">No activity yet</mat-list-item>

                <a mat-list-item *ngFor="let item of history" routerLinkActive="active-link">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <div mat-line>{{item.name}}</div>
                    <div mat-line> {{item.updated | date}} </div>
                </a>

                <mat-divider></mat-divider>
                <div mat-subheader>Actions</div>

                <a mat-list-item *ngIf="uiState.activeWallet && uiState.unlocked" [routerLink]="['/vault/create']"
                    routerLinkActive="active-link">
                    <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                    <div mat-line>Add Vault</div>
                </a>

            </mat-nav-list>
        </div>

    </mat-tab>

    <mat-tab *ngIf="feature.enabled('collectible')">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">category</mat-icon>
            &nbsp;
            <span>{{ 'Dashboard.Collectibles' | translate }}</span>
        </ng-template>
    </mat-tab>

    <mat-tab *ngIf="feature.enabled('inbox')">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">mail</mat-icon>
            &nbsp;
            <span matBadge="2" matBadgeOverlap="false">{{ 'Dashboard.Inbox' | translate }}</span>
        </ng-template>
    </mat-tab>

</mat-tab-group>