<div class="page centered">
    <!-- <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1> -->

    <mat-icon class="large-icon">password</mat-icon>
    <br>
    <h1>{{ "Settings.ChangePassword" | translate }}</h1>
    <p>
      {{ "Settings.ChangePasswordDescription" | translate }}
    </p>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Settings.CurrentPassword" | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="existingPassword">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Settings.NewPassword" | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Settings.ConfirmNewPassword" | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="confirmedPassword">
    </mat-form-field>

    <button class="signup-button" mat-flat-button (click)="cancel()">{{ "Settings.Cancel" | translate }}</button>
    <button class="signup-button" mat-flat-button color="primary" (click)="save()">{{ "Settings.Save" | translate }}</button>

</div>
