
<div class="cardContainer">
<mat-card *ngIf="tokenJson.name">
  <mat-card-header>
    <img mat-card-avatar class="resize" [src]="tokenJson.image" />
    <mat-card-title>{{tokenJson.name}}</mat-card-title>
    <mat-card-subtitle>{{tokenJson.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span *ngIf="nonFungibleToken.pricePaid">purchase price: {{nonFungibleToken.pricePaid | amount}}</span>
    </p>

    <p>
      <button mat-icon-button (click)="toggleAttributes()" *ngIf="tokenJson.attributes.length > 0">details
        <mat-icon *ngIf="!showAttributes">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="showAttributes">keyboard_arrow_up</mat-icon>
      </button>
    </p>
    <ng-container *ngIf="showAttributes">
      <mat-list *ngIf="tokenJson.attributes">
        <mat-list-item *ngFor="let attribute of tokenJson.attributes" >
          <p>{{attribute.trait_type}} : {{attribute.value}}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-card-content>
</mat-card>
</div>
