.qr-scan {
  position: absolute !important;
  /* z-index: 0; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}

.full-screen-modal .mat-dialog-container {
  /* padding: 1em;
  width: 100%;
  height: 100%; */
}

.camera-button {
  margin: 2em;
}

.camera-close-button {
  margin: 2em;
  position: absolute;
  right: 2em;
  top: 2em;
}

.camera-label {
  font-size: 2em;
  color: rgba(1, 1, 1, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.camera-error {
  color: red;
}

.mat-dialog-container {
  padding: 0 !important;
}
