
<h2>Send {{sendService.network.symbol}}</h2>

<form [formGroup]="form">

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="addressInput" [(ngModel)]="sendService.address" required>
        <!-- <mat-error
            *ngIf="form.controls['addressInput'].hasError('required') && form.controls['addressInput'].dirty || form.controls['addressInput'].touched">
            Address is required.</mat-error> -->
        <mat-error *ngIf="form.controls['addressInput'].invalid">Address is required.</mat-error>
    </mat-form-field>

    <div class="available-balance" matTooltip="Click to fill out maximum (minus fee)"
    (click)="fillMax(sendService.accountHistory.balance)">Available: {{sendService.accountHistory.balance || 0 |
    amount}}</div>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amountInput" [(ngModel)]="sendService.amount" required>
        <mat-error *ngIf="form.controls['amountInput'].invalid">Amount is required and must be correctly entered.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Fee</mat-label>
        <input matInput formControlName="feeInput" [(ngModel)]="sendService.fee" required>
        <mat-error *ngIf="form.controls['feeInput'].invalid">Fee is required and must be correctly entered.</mat-error>
    </mat-form-field>

    <h3>
        Total: {{sendService.total | amount}} {{sendService.network.symbol}}
    </h3>

</form>

<button class="full-width" [disabled]="!form.valid" mat-raised-button routerLink="../confirm"
    color="primary">Continue</button>