<div class="send-header">
  <div class="send-header-title">
    <h2>{{ "Account.Send" | translate }} {{ sendService.network.symbol }}</h2>
  </div>
  <div class="send-header-actions" *ngIf="hasSidechain"><button class="half-width" [routerLink]="['/', 'account', 'send-sidechain']" mat-raised-button>{{ "Account.SidechainSwap" | translate }}</button></div>
</div>

<form [formGroup]="form">
  <div class="input-actions">
    <button mat-icon-button (click)="scanQrCode()" matTooltip='{{ "Account.ScanQRCode" | translate }}'>
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <button mat-icon-button (click)="paste()" matTooltip='{{ "Account.PasteAddress" | translate }}'>
      <mat-icon>content_paste</mat-icon>
    </button>
  </div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{ "Account.Address" | translate }}</mat-label>
    <input matInput formControlName="addressInput" [(ngModel)]="sendService.address" required />
    <mat-error *ngIf="form.controls['addressInput'].errors?.['invalid']">{{ "Account.AddressInvalid" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['addressInput'].errors?.['required']">{{ "Account.AddressRequired" | translate }}</mat-error>
  </mat-form-field>

  <div class="available-balance" matTooltip='{{ "Account.ClickToFillOutMaximum" | translate }}' (click)="fillMax(sendService.accountHistory.balance)">{{ "Account.Available" | translate }}: {{ sendService.accountHistory.balance || 0 | amount }}</div>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>{{ "Account.Amount" | translate }}</mat-label>
    <input matInput formControlName="amountInput" [(ngModel)]="sendService.amount" required />
    <mat-error *ngIf="form.controls['amountInput'].errors?.['min']">{{ "Account.AmountMin" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['required']">{{ "Account.AmountRequired" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooManyDecimals']">{{ "Account.AmountTooManyDecimals" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighValue']">{{ "Account.AmountTooHighValue" | translate }}</mat-error>
    <mat-error *ngIf="form.controls['amountInput'].errors?.['tooHighAmount']">{{ "Account.AmountTooHighAmount" | translate }}</mat-error>
  </mat-form-field>

  <div *ngIf="optionsOpen">

    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>{{ "Account.Fee" | translate }} ({{ "Account.SatByte" | translate }})</mat-label>
      <input matInput formControlName="feeInput" [(ngModel)]="sendService.fee" required />
      
      <mat-error *ngIf="form.controls['feeInput'].errors?.['min']">{{ "Account.FeeAmountMin" | translate }}</mat-error>
      <mat-error *ngIf="form.controls['feeInput'].errors?.['required']">{{ "Account.FeeAmountRequired" | translate }}</mat-error>
      <mat-error *ngIf="form.controls['feeInput'].invalid">{{ "Account.FeeInvalid" | translate }}</mat-error>
      <!-- <mat-hint *ngIf="sendService.feeError" align="start"><strong>{{ sendService.feeError }}</strong></mat-hint> -->
      <!-- <mat-hint align="end">{{ "Account.MinimumFeeRate" | translate }}: {{ sendService.targetFeeRate }} || {{ "Account.SatByte" | translate }}</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>{{ "Account.CustomChangeAddress" | translate }}</mat-label>
      <input matInput formControlName="changeAddressInput" [(ngModel)]="sendService.changeAddress" />
    </mat-form-field>

    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>{{ "Account.PrivateMemo" | translate }}</mat-label>
      <input matInput formControlName="memoInput" [(ngModel)]="sendService.memo" />
    </mat-form-field>
  </div>

  <button class="full-width" (click)="toggleOptions()" mat-raised-button>{{ "Account.Options" | translate }}...</button>
  <br /><br />
  <!-- <h3>{{ "Account.Total" | translate }}: {{ sendService.total | amount }} {{ sendService.network.symbol }}</h3> -->

  <mat-card *ngIf="this.sendService.payment">
    <span *ngIf="this.sendService.payment.options.label">{{ "Account.Label" | translate }}: <strong>{{ this.sendService.payment.options.label }}</strong><br /> </span>
    <span *ngIf="this.sendService.payment.options.message">{{ "Account.Message" | translate }}: {{ this.sendService.payment.options.message }}<br /><br /> </span>
    <span *ngIf="this.sendService.payment.options.id">{{ "Account.PaymentID" | translate }}: {{ this.sendService.payment.options.id }}<br /> </span>
    <span *ngIf="this.sendService.payment.options.data">{{ "Account.DataOPRETURN" | translate }}: {{ this.sendService.payment.options.data }}<br /> </span>
  </mat-card>
  <br />
</form>

<button class="full-width" [disabled]="!form.valid" mat-raised-button routerLink="../confirm" color="primary">{{ "Account.Continue" | translate }}</button>
