.available-balance {
  float: right;
  margin-top: 0.5em;
  cursor: pointer;
}

[dir=rtl]
.available-balance {
  float: left;
  margin-top: 0.5em;
  cursor: pointer;
}

.input-actions {
  float: right;
  margin-top: 0.5em;
}

[dir=rtl]
.input-actions {
  float: left;
  margin-top: 0.5em;
}
/*
.mat-dialog-container {
  padding: 0 !important;
} */

.send-header {
  display: flex;
}

.send-header-title {
  flex-grow: 2;
}

.send-header-actions {

}
