<div class="page" *ngIf="status == 0">
    <h2>Confirm Login Message</h2>

    Wallet: {{uiState.activeWallet?.name}}<br>
    Account: {{uiState.activeAccount?.name}}<br>
    Derivation path: {{networkService.getDerivationPathForAccount(uiState.activeAccount)}}<br><br>

    Expiry: {{expiryDate}}<br>
    Expiry: {{expiryDate.toISOString()}}<br><br>
    Callback URL: {{callback}}<br><br>

    You attest with your select account to the following content:
    <br><br>
    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Signing content</mat-label>
        <textarea class="signing-content" matInput [ngModel]="content"></textarea>
    </mat-form-field>

    <div *ngIf="success === true">You have successfully logged in. You can now close this window</div>
    <div *ngIf="success === false">Failed to authenticate.<br>{{result}}</div>

    <button class="signup-button" mat-flat-button color="primary" (click)="sign()">Sign & Callback</button>&nbsp;
    <button class="signup-button" mat-flat-button (click)="exit()">Exit Action</button>
</div>

<div class="page" *ngIf="status == 1">
    <h2>Login Successsful</h2>

    <p>You have successfully logged in. You can now close this window.</p>

    <div *ngIf="success === false">Failed to authenticate.<br>{{result}}</div>

    <button class="signup-button" mat-flat-button (click)="close()">Close Window</button>
</div>

<div class="page" *ngIf="status == 2">
    <h2>Failed to authenticate</h2>

    <button class="signup-button" mat-flat-button (click)="close()">Close Window</button>
</div>