<div class="page centered">

    <mat-form-field appearance="outline" *ngIf="walletManager.hasWallets">
        <mat-label>Network</mat-label>

        <mat-select (selectionChange)="onNetworkChanged()" [(value)]="network">
            <mat-option *ngFor="let net of this.networkService.networks;"
                [value]="net.id">{{net.name}}
            </mat-option>
        </mat-select>

    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" *ngIf="walletManager.activeAccount">
        <mat-label>Icon</mat-label>
        <mat-select [(value)]="icon">
            <mat-option *ngFor="let icon of icons.icons" [value]="icon">
                <mat-icon>{{icon}}</mat-icon>
            </mat-option>
            <mat-select-trigger>
                <mat-icon>{{icon}}</mat-icon>
            </mat-select-trigger>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" *ngIf="walletManager.hasWallets">
        <mat-label>Account Index</mat-label>
        <mat-select (selectionChange)="onAccountIndexChanged($event)" [(value)]="index">
            <mat-option *ngFor="let accountindex of indexes;" [value]="accountindex">{{accountindex}}</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Account Derivation Path</mat-label>
        <input matInput [(ngModel)]="derivationPath" required>
    </mat-form-field>

    <br>

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>

    <!-- 
        <img class="logo" src="/assets/icon-light-128x128.png">

        <h1>Blockcore</h1>

        <p>A crypto wallet in your browser for coins, tokens, identities, NFTs and more.</p> -->

    <br>
    <button class="signup-button" mat-flat-button color="primary" (click)="create()">Create Account</button>
    <br>
    <!-- <button class="signup-button" mat-flat-button (click)="restore()">Use Existing Recovery Phrase</button> -->

</div>