<div class="page centered">

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>{{ "Account.Name" | translate }}</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.Icon" | translate }}</mat-label>
        <mat-select [(value)]="icon">
            <mat-option *ngFor="let icon of icons.icons" [value]="icon">
                <mat-icon>{{icon}}</mat-icon>
            </mat-option>
            <mat-select-trigger>
                <mat-icon>{{icon}}</mat-icon>
            </mat-select-trigger>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.Network" | translate }}</mat-label>

        <mat-select (selectionChange)="onNetworkChanged()" [(value)]="network">
            <mat-option *ngFor="let net of this.networkService.networks;" [value]="net.id">{{net.name}}
            </mat-option>
        </mat-select>

    </mat-form-field>
    
    <br>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.AccountIndex" | translate }}</mat-label>
        <mat-select (selectionChange)="onAccountIndexChanged($event)" [(value)]="index">
            <mat-option *ngFor="let accountindex of indexes;" [value]="accountindex">{{accountindex}}</mat-option>
        </mat-select>
    </mat-form-field>

    <br *ngIf="selectedNetwork.purpose != 302">

    <mat-form-field *ngIf="selectedNetwork.purpose != 302" appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.AccountMode" | translate }}</mat-label>
        <mat-select [(value)]="mode">
            <mat-option [value]="'normal'">{{ "Account.Normal" | translate }}</mat-option>
            <mat-option [value]="'quick'">{{ "Account.Quick" | translate }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <br *ngIf="selectedNetwork.purpose != 302">

    <mat-form-field *ngIf="selectedNetwork.purpose != 302" appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.AddressMode" | translate }}</mat-label>
        <mat-select [(value)]="addressMode">
            <mat-option [value]="'normal'">{{ "Account.Normal" | translate }}</mat-option>
            <mat-option [value]="'single'">{{ "Account.SingleAddress" | translate }}</mat-option>
        </mat-select>
    </mat-form-field>

    <br *ngIf="selectedNetwork.purpose != 302">

    <mat-form-field *ngIf="selectedNetwork.purpose != 302" appearance="outline" class="input-full-width">
        <mat-label>{{ "Account.AddressFormat" | translate }}</mat-label>
        <mat-select [(value)]="purposeAddress">
            <mat-option [value]="44">{{ "Account.Legacy" | translate }}</mat-option>
            <mat-option [value]="84">{{ "Account.Segwit" | translate }}</mat-option>
        </mat-select>
    </mat-form-field>


    <br>

    <mat-form-field class=" input-full-width" appearance="outline">
        <mat-label>{{ "Account.AccountDerivationPath" | translate }}</mat-label>
        <input matInput [(ngModel)]="derivationPath" required>
    </mat-form-field>

    <br>
    <button class="signup-button" mat-flat-button color="primary" (click)="create()">{{ "Account.CreateAccount" | translate }}</button>

</div>