/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    width: 400px; /* This is the width of the extension window */
    margin: 0;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #212121;
    color: white;

}

header {
    display: flex;
    padding: 2em;
}

.header-text {
    font-size: 1.2em;
    margin-left: 1em;
}

.page {
    padding: 2em;
}

.input-full-width {
    width: 100%;
}

.centered {
    text-align: center;
}