@import "~@angular/material/theming";

@include mat-core();

@import "./theme.scss";
@import "./custom-component-themes.scss";

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);

.dark-theme {
    @include angular-material-color($dark-theme);
    @include custom-components-theme($dark-theme);
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #212121;
    color: white;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.popup-mode {
    width: 400px;
    height: 540px;
}

.full-mode {
    width: 100% !important;
    height: 100% !important;
}

header {
    display: flex;
    padding: 2em;
}

.header-text {
    font-size: 1.2em;
    margin-left: 1em;
}

.page {
    padding: 2em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.input-full-width {
    width: 100%;
}

.centered {
    text-align: center;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

.wide-button {
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.15);
}

.icon-indicator {
}

.icon-warn {
    color: orange;
}

.icon-success {
    color: green;
}
