// @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

$brand: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    //500: #5282c1, // primary button
    500: #3870BA, // primary button
    600: #4072b4, // from website
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$orange: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

//$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-primary: mat-palette($brand);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theming-material-components-theme: mat-light-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
);

// Define  a custom typography config
// $heading-font-family: "'Work Sans', sans-serif";

// $typography: mat-typography-config(
//     $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
//     $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
//     $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
//     $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
//     $headline: mat-typography-level(24px, $font-family: $heading-font-family),
//     $title: mat-typography-level(20px, $font-family: $heading-font-family),
// );

// Define an alternate dark theme.
// $dark-primary: mat-palette($mat-blue-grey);
$dark-primary: mat-palette($brand);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
            warn: $dark-warn,
        ),
    )
);

// Theme for notifications / snackbar
// $notifications-theme: (
//   default: #fff,
//   info: mat-color(mat-palette($mat-blue), 400),
//   success: mat-color(mat-palette($mat-green), 400),
//   warning: mat-color(mat-palette($mat-yellow), 400),
//   error: mat-color(mat-palette($mat-red), 400),
// );
