<br>
<h2>Allow this site to:</h2>

<p>See accounts, including their names, all addresses, account balances, activities and suggest transactions to approve.</p>
<p>Only connect with sites you trust.</p>
<br>
<!-- <h2>{{ "Action.PublicKey" | translate }}</h2>

123123123
<p>
  {{ "Action.Account" | translate }}: <strong>{{ walletManager.activeAccount?.name }}</strong
  ><br />
  {{ "Action.Permission" | translate }}: <strong>"{{ "Action.ReadYourPublicKey" | translate }}"</strong>
  <br />
  {{ "Action.Domain" | translate }}: <strong>{{ uiState.action.app }}</strong>
</p> -->
