<div class="page">

    <div *ngIf="!appState.persisted.mnemonic">

        <h1>Create Account (Wallet)</h1>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Mnemonic</mat-label>
            <input matInput [(ngModel)]="mnemonic" placeholder="Mnemonic">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="generate()">Generate</button>

        <br><br>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" placeholder="Password">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>

    <div *ngIf="appState.persisted.mnemonic">

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="unlockPassword" placeholder="Password">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="unlock()">Unlock</button>

        <br><br>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Unlocked</mat-label>
            <input matInput [(ngModel)]="unlocked" placeholder="Unlocked">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="remove()">Remove Account</button>

    </div>
</div>