<div class="page centered">

    <img class="logo" src="/icons/blockcore-light-128x128.png">

    <h1>Blockcore</h1>

    <h2>Enter your password to unlock</h2>

    <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="unlockPassword" placeholder="Password" (keydown.enter)="unlock()">
    </mat-form-field>

    <div class="error-list">
        <mat-chip-list *ngIf="error">

            <mat-chip *ngIf="error" color="warn" selected (removed)="removeError()">{{error}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <button class="wide-button" mat-flat-button color="primary" (click)="unlock()">Unlock</button>

    <br><br>
</div>