<div class="page" *ngIf="uiState.activeAccount">

    <mat-card class="example-card">
        <!-- <mat-card-subtitle>{{uiState.activeAccount.name}}</mat-card-subtitle> -->
        <mat-card-subtitle>Balance</mat-card-subtitle>
        <mat-card-title>{{uiState.activeAccount.state?.balance || 0 | amount}} {{uiState.activeAccount.network | network}}
        </mat-card-title>
        <!-- <mat-card-content>
            <p>$0</p>
        </mat-card-content> -->
        <mat-divider inset></mat-divider>
        <mat-card-actions class="full-action-buttons">
            <button class="half-width" mat-raised-button [routerLink]="['/', 'account', 'receive', uiState.activeAccount.index]" color="primary">Receive</button>
            <button class="half-width" mat-raised-button>Send</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <br>
    <button mat-raised-button (click)="scan()">Scan</button>
    &nbsp;
    <button mat-raised-button (click)="scan(true)">Force Scan</button>

    <mat-nav-list>
        <div mat-subheader>Recent Activity</div>
        <a mat-list-item *ngFor="let activity of activities" routerLinkActive="active-link" [routerLink]="['/', 'account', 'view']">
            <mat-icon mat-list-icon>{{activity.icon}}</mat-icon>
            <div mat-line>{{activity.title}}</div>
            <div mat-line> {{activity.address}} </div>
        </a>
        <mat-divider></mat-divider>
        <div mat-subheader>Addresses</div>
        <a mat-list-item *ngFor="let address of this.uiState.activeAccount.state.receive" routerLinkActive="active-link" [routerLink]="['/', 'account', 'address', address.index]">
            <!-- <mat-icon mat-list-icon>{{activity.icon}}</mat-icon> -->
            <div mat-line>{{address.address}} ({{address.balance}})</div>
            <div mat-line> {{address.totalReceived}} / {{address.totalSent}} </div>
        </a>
    </mat-nav-list>

    <!-- {{this.uiState.activeAccount.state.receive | json}} -->

    <!-- First address (for verification):<br>
    <div *ngIf="address">
        {{address}}
    </div> -->

</div>

<div class="page centered" *ngIf="!uiState.activeAccount">
    <h3>No active account selected.</h3>
</div>