button {
    width: 100%;
    margin-bottom: 0.5em;
}

/* p {
    font-size: 1.2em;
} */

h1 {
    font-size: 2em;
}

.logo {
    height: 96px;
    margin-bottom: 1em;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.recovery-phrase {
    font-size: 1.2em;
    word-spacing: 0.4em;
}

input {
    width: 100%;
}