<div class="page centered">

    <div *ngIf="step == 0">
        <img class="logo" src="/assets/icon-light-128x128.png">

        <h1>{{uiState.manifest.name}}</h1>
        <div class="sub-title">by {{uiState.manifest.author}}</div>
        <div class="sub-title">Version {{uiState.manifest.version}}</div>

        <p>{{uiState.manifest.description}}</p>

        <br>
        <button class="signup-button" mat-flat-button color="primary" (click)="create()">Create New Wallet</button>
        <br>
        <button class="signup-button" mat-flat-button (click)="restore()">Use Existing Secret Recovery Phrase</button>
    </div>

    <div *ngIf="step == 1">

        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup" [editable]="false">
                <form [formGroup]="firstFormGroup">

                    <h1>Secret Recovery Phrase</h1>

                    <p *ngIf="!recover">This is your private and secret sentence that is your account. You must store it
                        safely, if you
                        lose it, you will lose all your assets. Nobody can recover it for you. <strong>Never share it.</strong></p>

                    <p *ngIf="recover">Restore your existing wallet with your 12 or 24-word secret recovery phrase.</p>

                    <mat-card *ngIf="!recover" class="recovery-phrase" [class.mat-elevation-z8]="true">{{mnemonic}}
                        <button class="copy-button" mat-icon-button (click)="copy()">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </mat-card>

                    <mat-form-field *ngIf="recover" class="input-full-width" appearance="outline">
                        <mat-label>Secret Recovery Phrase</mat-label>
                        <textarea matInput [(ngModel)]="mnemonic" formControlName="firstCtrl" required></textarea>
                    </mat-form-field>

                    <div>
                        <br>
                        <button *ngIf="!recover" class="signup-button" mat-flat-button color="primary" matStepperNext>OK, I have saved it</button>
                        <button *ngIf="recover" class="signup-button" mat-flat-button color="primary" matStepperNext>Import secret recovery phrase</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [editable]="false">
                <form [formGroup]="secondFormGroup">

                    <h1>Create a password</h1>

                    <p>You use this to unlock your wallet and keep your wallet secure. Use a strong password.</p>

                    <mat-form-field class="input-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password" formControlName="passwordCtrl" placeholder="Password" required>
                    </mat-form-field>

                    <mat-form-field class="input-full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password2" formControlName="password2Ctrl" placeholder="Confirm Password" required>
                    </mat-form-field>

                    <div>
                        <button class="signup-button" (click)="save()" [disabled]="!passwordValidated" mat-button mat-flat-button color="primary"
                            matStepperNext>Save</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [editable]="false">
                <h1>All done!</h1>
                <p>You can now begin to manage your wallet.</p>
                <div>
                    <br><br><br><br>
                    <button class="signup-button" mat-flat-button color="primary" routerLink="/">Finish</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>