<div class="page">

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Auto-Lock Timer (minutes)</mat-label>
    <input matInput [(ngModel)]="settings.autoTimeout" required>
    <mat-hint>Set the idle time in minutes before the wallet becomes locked.</mat-hint>
  </mat-form-field>

  <br><br>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Indexer</mat-label>
    <input matInput [(ngModel)]="settings.indexer">
    <mat-hint>Only change this if you want to connect your own indexer or third party indexer.
    </mat-hint>
  </mat-form-field>

  <!-- <br><br>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Data Vault</mat-label>
    <input matInput [(ngModel)]="settings.dataVault">
    <mat-hint>Only change this if you want to connect your identities to an third party Blockcore Vault instance.
    </mat-hint>
  </mat-form-field> -->

  <br><br>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Choose your mode</mat-label>
    <mat-select (selectionChange)="onThemeChanged($event)" [(value)]="settings.theme">
      <mat-option [value]="'dark'">Dark</mat-option>
      <mat-option [value]="'light'">Light</mat-option>
    </mat-select>
    <mat-hint>You must save the settings for mode and accent color to be persisted.
    </mat-hint>
  </mat-form-field>

  <br><br>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Display Language</mat-label>
    <mat-select (selectionChange)="onLanguageChanged($event)" [(value)]="settings.language">
      <mat-option [value]="'en'">English</mat-option>
      <!-- <mat-option [value]="'no'">Norwegian</mat-option> -->
    </mat-select>
    <mat-hint>Change the display language for the extension.
    </mat-hint>
  </mat-form-field>

  <br><br>

  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Amount Format</mat-label>
    <mat-select [(value)]="settings.amountFormat">
      <mat-option [value]="'bitcoin'">Default (0.0)</mat-option>
      <mat-option [value]="'satcommas'">Satcommas (000,000.000,000)</mat-option>
      <mat-option [value]="'sat'">Satoshis</mat-option>
    </mat-select>
    <mat-hint>Change the display format for amounts.
    </mat-hint>
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Choose accent color</mat-label>
    <mat-select (selectionChange)="onAccentChanged($event)" [(value)]="settings.themeColor">
      <mat-option [value]="'accent'">Accent #1</mat-option>
      <mat-option [value]="'primary'">Accent #2</mat-option>
      <mat-option [value]="'warn'">Accent #3</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-form-field appearance="fill">
  <mat-label>Auto-Lock Timer</mat-label>
  <mat-select [(value)]="uiState.persisted.autoTimeout">
    <mat-option [value]="0">Zero</mat-option>
    <mat-option [value]="5">5 minutes</mat-option>
    <mat-option [value]="10">10 minutes</mat-option>
    <mat-option [value]="15">15 minutes</mat-option>
    <mat-option [value]="30">30 minutes</mat-option>
    <mat-option [value]="60">60 minutes</mat-option>
  </mat-select>
</mat-form-field> -->

  <br><br>

  <button class="signup-button" mat-flat-button color="primary" (click)="save()">Save</button>

  <br><br>
  <mat-divider></mat-divider>
  <br>

  <mat-nav-list>
    <div mat-subheader>Other Actions</div>

    <!-- TODO: Add this feature before showing in the UI. -->
    <!-- <a mat-list-item routerLinkActive="active-link" [routerLink]="['trusted']">
      <mat-icon mat-list-icon>public</mat-icon>
      <div mat-line>Trusted Web Sites</div>
    </a> -->

    <a mat-list-item routerLinkActive="active-link" [routerLink]="['password']">
      <mat-icon mat-list-icon>password</mat-icon>
      <div mat-line>Change Password</div>
    </a>

    <!-- TODO: Perhaps these should be on account level and not wallet level? Consider adding based upon user feedback. -->
    <!-- <a mat-list-item routerLinkActive="active-link" [routerLink]="['export-public-key']">
      <mat-icon mat-list-icon>key</mat-icon>
      <div mat-line>Export Extended Public Key</div>
    </a>

    <a mat-list-item routerLinkActive="active-link" [routerLink]="['export-private-key']">
      <mat-icon mat-list-icon>key</mat-icon>
      <div mat-line>Export Private Key</div>
    </a> -->

    <a mat-list-item [routerLink]="['export-recovery-phrase']">
      <mat-icon mat-list-icon>key</mat-icon>
      <div mat-line>Show Secret Recovery Phrase</div>
    </a>

    <a mat-list-item [routerLink]="['/wipe']">
      <mat-icon mat-list-icon>delete_forever</mat-icon>
      <div mat-line>Wipe Data</div>
    </a>

  </mat-nav-list>


  <mat-nav-list>
    <div mat-subheader>About CoinVault</div>

    <a mat-list-item [href]="env.releaseUrl" target="_blank">
      <mat-icon mat-list-icon>update</mat-icon>
      <div mat-line>Release {{env.version}}</div>
    </a>

    <a mat-list-item [routerLink]="['changes']">
      <mat-icon mat-list-icon>new_releases</mat-icon>
      <div mat-line>What's new</div>
    </a>

    <a mat-list-item [routerLink]="['licenses']">
      <mat-icon mat-list-icon>description</mat-icon>
      <div mat-line>Third party licenses</div>
    </a>

    <a mat-list-item [routerLink]="['privacy']">
      <mat-icon mat-list-icon>privacy_tip</mat-icon>
      <div mat-line>Privacy policy</div>
    </a>

    <a mat-list-item [href]="env.instanceUrl" target="_blank" *ngIf="env.instanceName">
      <mat-icon mat-list-icon>public</mat-icon>
      <div mat-line>{{env.instanceName}} website</div>
    </a>

    <a mat-list-item [href]="env.sourceUrl" target="_blank">
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>Source code</div>
    </a>

  </mat-nav-list>

</div>